/*-------------------------------------------------------------*/
body{
  background-color:  #e6e1e1;
}

p{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   
}

th{
  font-size: 15px;
  text-align: center !important
}

td{
  font-size: 11px;
}

ul { 
  list-style-type:none;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
/*-------------------------------------------------------------*/
.background-left {
  width:100%;
  height:800px;
}

.small{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: italic;
    color: rgb(9, 173, 214);
    font-weight: 500;
}

.table{
  text-align: center !important;
}

.number{
  color: rgb(9, 173, 214);
  font-weight: bold;
  padding-left:150px; 
}

.cliente {
  margin-top:5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#bodyHeader {
  background-color: #e7f5ed;
  border-radius: 5pt;
  transition: margin-left .5s;
}

#bodyContent{
  transition: margin-left .5s;
}

.search-box {  
  display: inline-block;  
  width: 100%;  
  border-radius: 3px;  
  padding: 4px 55px 4px 15px;  
  position: relative;  
  background: #fff;  
  border: 1px solid #ddd;  
  -webkit-transition: all 200ms ease-in-out;  
  -moz-transition: all 200ms ease-in-out;  
  transition: all 200ms ease-in-out;
  }
   
.search-box.hovered, .search-box:hover, .search-box:active {  
  border: 1px solid #aaa;
}
   
.search-box input[type=text] { 
  border: none;  
  box-shadow: none;  
  display: inline-block;  
  padding: 0;  
  background: transparent;
}
   
.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {  
  box-shadow: none;
}
   
.search-box .search-btn {  
  position: absolute;  
  right: 2px;  
  top: 2px;  
  color: #aaa;  
  border-radius: 3px;  
  font-size: 21px;  
  padding: 5px 10px 1px;  
  -webkit-transition: all 200ms ease-in-out;  
  -moz-transition: all 200ms ease-in-out;  
  transition: all 200ms ease-in-out;
}
   
.search-box .search-btn:hover {  
  color: #fff;  
  background-color: #67cf9c;
}

.nav-left{
  position: relative;
}
.list-option{
position: absolute;
top:0;
}

.row{
  display: flex;
} 
 
.warning{
  font: 14px;
  text-align: right;
  font-style: italic;
  color: red;
  font-weight: bold; 
  padding-top: 5px;
}


/*-------------------------------------------------------------*/
#add{
    font-style: italic;
    font-weight: 500;
    color: black;
}

#search-name{
  color:#969696;
  padding:8pt;
  margin-left: 3pt
}

#normal{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: black;
}

#text-center{
  text-align: center;
}

#changecolor-now{
  background-color: #43cb89;
  border-radius: 5px;
}

#changecolor:hover{
  background-color: #43cb89;
  border-radius: 5px;
}
  
#changepanel{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 10pt;
  color:white;
}

#changecolortext{
  color:white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#boder{
  border-radius: 15pt;
}

h1#head{
    color:#67cf9c; 
    font-weight: 900;
    font-family: Segoe UI;
    margin: 10pt;
  }

#cliente{
    border:1pt;
    padding-top: 10pt;
    margin-top:10pt;
    padding-left:10pt;
    padding-right:10pt;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
    background-color: white;
}

#cliente-left{
    border:1pt;
    padding-top: 10pt;
    margin-top:10pt;
    margin-right:5pt;
    padding-left:10pt;
    padding-right:10pt;
    border-radius: 5pt;
    -moz-border-radius: 5pt;
    -webkit-border-radius: 5pt;
    background-color: white;
}
#cliente-right{
  border:1pt;
  padding-top: 10pt;
  margin-top:10pt;
  margin-left:5pt;
  padding-left:10pt;
  padding-right:10pt;
  border-radius: 5pt;
  -moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
  background-color: white;
}

#buttom{
  width: 100%;
  background-color: #43cb89;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

#tbody{
  margin-top: 10px;
}