USE [master]
GO
/****** Object:  Database [TEST]    Script Date: 5/20/2019 10:50:06 PM ******/
CREATE DATABASE [TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TEST.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TEST_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTraCuu]    Script Date: 5/20/2019 10:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDTraCuu]()
returns nvarchar(10)
AS begin
	DECLARE @ID NVARCHAR(10)
	IF (SELECT COUNT(IDTraCuu) FROM LichSuTraCuu) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID =  max(right(IDTraCuu, 7)) FROM LichSuTraCuu
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'LS0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'LS000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
		return @ID
END;
GO
/****** Object:  UserDefinedFunction [dbo].[CongThoiGian]    Script Date: 5/20/2019 10:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[CongThoiGian](@A time,@B datetime)
returns datetime
as begin
	declare @C datetime;
	set @C=(select dateadd(MINUTE,datepart(minute,@A),dateadd(second,datepart(SECOND,@A),@B)));
	return @C;
end;
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 5/20/2019 10:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[ID] [nvarchar](10) NOT NULL,
	[HovaTen] [nvarchar](40) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NamSinh] [nvarchar](4) NULL,
	[QueQuan] [nvarchar](20) NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
	[ThoiGianKhamTB_min] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanKham](
	[IDBan] [nvarchar](10) NOT NULL,
	[Phong] [nvarchar](10) NOT NULL,
	[SoBan] [int] NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBan] ASC,
	[Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[ID] [nvarchar](10) NOT NULL,
	[Ho] [nvarchar](6) NULL,
	[TenLot] [nvarchar](20) NULL,
	[Ten] [nvarchar](5) NULL,
	[CMND_CCCD] [nvarchar](20) NOT NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](20) NULL,
	[NgheNghiep] [nvarchar](20) NULL,
	[SDT] [nvarchar](15) NULL,
	[Diachi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaKham](
	[IDCa] [int] NOT NULL,
	[TenCa] [nvarchar](5) NULL,
	[GioBatDau] [nvarchar](10) NULL,
	[GioKetThuc] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenKhoa](
	[IDChuyenKhoa] [nvarchar](10) NOT NULL,
	[TenChuyenKhoa] [nvarchar](50) NULL,
	[IDDonViChucNang] [int] NULL,
	[IDKhuVuc] [int] NULL,
	[NgungSuDung] [int] NULL,
	[IDLoaiDonVi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDChuyenKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuCanLamSang]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuCanLamSang](
	[IDDichVu] [nvarchar](10) NOT NULL,
	[TenDichVu] [nvarchar](150) NULL,
	[LoaiDichVu] [nvarchar](10) NULL,
	[TinhTrang] [int] NULL,
	[ThoiGianNhaySoTB] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViChucNang]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViChucNang](
	[IDDonViChucNang] [int] NOT NULL,
	[TenDonViChucNang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDonViChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[IDKhuVuc] [int] NOT NULL,
	[TenKhuVuc] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichKhamBacSi]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichKhamBacSi](
	[IDBan] [nvarchar](10) NOT NULL,
	[Phong] [nvarchar](10) NOT NULL,
	[Ngay] [date] NOT NULL,
	[CaKham] [int] NOT NULL,
	[IDBacSi] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBan] ASC,
	[Phong] ASC,
	[Ngay] ASC,
	[CaKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTraCuu]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTraCuu](
	[IDTraCuu] [nvarchar](10) NOT NULL,
	[IDNguoiTim] [nvarchar](10) NOT NULL,
	[IDNguoiDuocTim] [nvarchar](10) NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTraCuu] ASC,
	[IDNguoiTim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[IDLoaiDichVu] [nvarchar](10) NOT NULL,
	[TenLoaiDichVu] [nvarchar](50) NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham](
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[IDBenhNhan] [nvarchar](10) NULL,
	[Ngay] [datetime] NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongCanLamSang]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongCanLamSang](
	[ID] [nvarchar](10) NOT NULL,
	[SoPhong] [nvarchar](50) NULL,
	[TrucThuoc] [nvarchar](10) NULL,
	[KhuVuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongKhamChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongKhamChuyenKhoa](
	[ID] [nvarchar](10) NOT NULL,
	[SoPhong] [nvarchar](20) NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoHienThiPhongCanLamSang]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoHienThiPhongCanLamSang](
	[IDPhongCanLamSang] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[CanLamSang] [nvarchar](10) NOT NULL,
	[Gio] [datetime] NULL,
	[TinhTrang] [int] NULL,
	[CaKham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongCanLamSang] ASC,
	[IDPhieuKham] ASC,
	[STT] ASC,
	[CanLamSang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoHienThiPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoHienThiPhongKham](
	[STT] [int] NOT NULL,
	[BanKham] [nvarchar](10) NOT NULL,
	[PhongKham] [nvarchar](10) NOT NULL,
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[Gio] [datetime] NULL,
	[TinhTrang] [int] NULL,
	[CaKham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BanKham] ASC,
	[IDPhieuKham] ASC,
	[PhongKham] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoThuTuPhongCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoThuTuPhongCLS](
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[CanLamSang] [nvarchar](10) NOT NULL,
	[PhongCanLamSang] [nvarchar](10) NULL,
	[CaKham] [int] NULL,
	[Gio] [datetime] NULL,
	[TinhTrang] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC,
	[STT] ASC,
	[CanLamSang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoThuTuPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoThuTuPhongKham](
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[BanKham] [nvarchar](10) NOT NULL,
	[PhongKham] [nvarchar](10) NOT NULL,
	[CaKham] [int] NULL,
	[Gio] [datetime] NULL,
	[TinhTrang] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC,
	[STT] ASC,
	[BanKham] ASC,
	[PhongKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp](
	[Status] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKePhongCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKePhongCLS](
	[IDPhongCLS] [nvarchar](10) NOT NULL,
	[NgayCT] [date] NOT NULL,
	[CaKham] [int] NOT NULL,
	[SoLuongDoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongCLS] ASC,
	[NgayCT] ASC,
	[CaKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKePhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKePhongKham](
	[IDBan] [nvarchar](10) NOT NULL,
	[Phong] [nvarchar](10) NOT NULL,
	[CaKham] [int] NOT NULL,
	[SoLuongDoi] [int] NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
	[ThoiGianKhamTB] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBan] ASC,
	[Phong] ASC,
	[CaKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucHienCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucHienCLS](
	[IDPhongCLS] [nvarchar](10) NOT NULL,
	[DichVuCLSThucHien] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongCLS] ASC,
	[DichVuCLSThucHien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ThongKeGioDuKien]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeGioDuKien] as
select STT.BanKham,STT.PhongKham,STT.CaKham,max(STT.Gio) as GioDuKienSoCuoi,PK.ChuyenKhoa
from SoThuTuPhongKham as STT join PhongKhamChuyenKhoa as PK on PK.ID=STT.PhongKham
group by STT.BanKham,STT.PhongKham,STT.CaKham,PK.ChuyenKhoa
GO
/****** Object:  View [dbo].[ThongKeChiTiet]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeChiTiet] as
select A.BanKham,A.PhongKham,A.CaKham,A.GioDuKienSoCuoi,A.SoLuongDoi,A.ThoiGianKhamTB,A.ChuyenKhoa  from
(select DK.BanKham,Dk.PhongKham,DK.CaKham,DK.GioDuKienSoCuoi,SL.SoLuongDoi,SL.ThoiGianKhamTB,DK.ChuyenKhoa 
from ThongKeGioDuKien as DK join ThongKePhongKham as SL 
on Dk.BanKham=SL.IDBan and Dk.PhongKham=SL.Phong and DK.ChuyenKhoa=SL.ChuyenKhoa )as A
inner join
(select min(DK.GioDuKienSoCuoi) as GioDuKienSoCuoi,DK.ChuyenKhoa 
from ThongKeGioDuKien as DK join ThongKePhongKham as SL 
on Dk.BanKham=SL.IDBan and Dk.PhongKham=SL.Phong and DK.ChuyenKhoa=SL.ChuyenKhoa
group by  DK.ChuyenKhoa) as B on A.ChuyenKhoa=B.ChuyenKhoa and A.GioDuKienSoCuoi=B.GioDuKienSoCuoi
GO
/****** Object:  View [dbo].[ThongKeGioDuKienSTTCLSCuoi]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeGioDuKienSTTCLSCuoi] as
select A.PhongCanLamSang,A.CaKham,STT.STT as SoThuTuCuoiCung, A.GioDuKienSoCuoi
from
(select STT.PhongCanLamSang,STT.CaKham,max(STT.Gio) as GioDuKienSoCuoi 
from SoThuTuPhongCLS as STT
group by STT.PhongCanLamSang,STT.CaKham) as A inner join SoThuTuPhongCLS as STT on STT.PhongCanLamSang=A.PhongCanLamSang
where A.GioDuKienSoCuoi=STT.Gio
GO
/****** Object:  View [dbo].[ThongKeCLSChiTiet]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeCLSChiTiet] as 
select distinct A.IDPhongCLS,B.DichVuCLSThucHien,A.CaKham,A.STT as SoSTTPhatSinhCuoi,A.GioDuKienCuoi
from
(select distinct TK.IDPhongCLS,STT.CaKham,STT.STT,STT.Gio as GioDuKienCuoi
from ThongKePhongCLS as TK inner join ThucHienCLS as Th on TH.IDPhongCLS=TK.IDPhongCLS
						   inner join SoThuTuPhongCLS as STT on STT.PhongCanLamSang = TH.IDPhongCLS) as A
inner join 
(select  TK.IDPhongCLS,min(STT.GioDuKienSoCuoi) as GioDuKienCuoi,TH.DichVuCLSThucHien
from ThongKePhongCLS as TK inner join ThucHienCLS as Th on TH.IDPhongCLS=TK.IDPhongCLS
						   inner join ThongKeGioDuKienSTTCLSCuoi as STT on STT.PhongCanLamSang = TH.IDPhongCLS
						    group by TK.IDPhongCLS,TH.DichVuCLSThucHien) as B 
						   on A.IDPhongCLS=B.IDPhongCLS and A.GioDuKienCuoi=B.GioDuKienCuoi;
GO
/****** Object:  View [dbo].[ThongKeSTTCuoiPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeSTTCuoiPhongKham] as
select TK.BanKham,TK.PhongKham,STT.STT,TK.CaKham,TK.GioDuKienSoCuoi,TK.ChuyenKhoa
from ThongKeGioDuKien as TK inner join SoThuTuPhongKham as STT on STT.BanKham=TK.BanKham and TK.PhongKham=STT.PhongKham
where TK.GioDuKienSoCuoi=STT.Gio
GO
/****** Object:  View [dbo].[ThongKeChiTiet_Null]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeChiTiet_Null] as
select BK.IDBan,BK.Phong,LK.CaKham,BS.ChuyenKhoa, BS.ThoiGianKhamTB_min
from BanKham as BK join LichKhamBacSi as LK on LK.IDBan=BK.IDBan and LK.Phong=BK.Phong join BacSi as BS on BS.ID=LK.IDBacSi
GO
/****** Object:  View [dbo].[ThongKeCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeCLS] as 
select TH.IDPhongCLS,DichVuCLSThucHien,Dv.TenDichVu,DV.LoaiDichVu,DV.TinhTrang,DV.ThoiGianNhaySoTB 
from ThucHienCLS as TH inner join DichVuCanLamSang as DV on DV.IDDichVu=TH.DichVuCLSThucHien
GO
/****** Object:  View [dbo].[ThongKeCLSChiTiet_Null]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ThongKeCLSChiTiet_Null] as
select distinct TK.IDPhongCLS,TK.SoluongDoi,TK.CaKham
from ThongKePhongCLS as TK inner join ThucHienCLS as Th on TH.IDPhongCLS=TK.IDPhongCLS
where TK.IDPhongCLS not in ( select STT.PhongCanLamSang from SoThuTuPhongCLS as STT join SoHienThiPhongCanLamSang as SHT on SHT.IDPhongCanLamSang=STT.PhongCanLamSang)
		
GO
INSERT [dbo].[BacSi] ([ID], [HovaTen], [GioiTinh], [NamSinh], [QueQuan], [ChuyenKhoa], [ThoiGianKhamTB_min]) VALUES (N'BS004', N'Hà Ngọc Tuyết Trinh', N'Nam', N'1965', N'Hưng Yên', N'EEG', CAST(N'00:07:09' AS Time))
INSERT [dbo].[BacSi] ([ID], [HovaTen], [GioiTinh], [NamSinh], [QueQuan], [ChuyenKhoa], [ThoiGianKhamTB_min]) VALUES (N'BS011', N'Nguyễn Tuấn Đạt', N'Nam', N'1977', N'Vĩnh Long', N'DB', CAST(N'00:06:59' AS Time))
INSERT [dbo].[BacSi] ([ID], [HovaTen], [GioiTinh], [NamSinh], [QueQuan], [ChuyenKhoa], [ThoiGianKhamTB_min]) VALUES (N'BS014', N'Phan Nguyễn Thành Tài', N'Nam', N'1978', N'Lâm Đồng', N'PY', CAST(N'00:04:11' AS Time))
GO
INSERT [dbo].[BanKham] ([IDBan], [Phong], [SoBan], [TinhTrang]) VALUES (N'BK1', N'1', 1, 1)
INSERT [dbo].[BanKham] ([IDBan], [Phong], [SoBan], [TinhTrang]) VALUES (N'BK1', N'117', 1, 1)
INSERT [dbo].[BanKham] ([IDBan], [Phong], [SoBan], [TinhTrang]) VALUES (N'BK1', N'141', 1, 1)
INSERT [dbo].[BenhNhan] ([ID], [Ho], [TenLot], [Ten], [CMND_CCCD], [GioiTinh], [NgaySinh], [QueQuan], [NgheNghiep], [SDT], [Diachi]) VALUES (N'BN21114', N'Nguyễn', N'Tuấn', N'Mai', N'4862121655', N'Nam', CAST(N'1967-07-03' AS Date), N'Phú Yên	', N'Nội trợ', N'0975157057', N'Lai Châu')
INSERT [dbo].[BenhNhan] ([ID], [Ho], [TenLot], [Ten], [CMND_CCCD], [GioiTinh], [NgaySinh], [QueQuan], [NgheNghiep], [SDT], [Diachi]) VALUES (N'BN21122', N'Bùi', N'Minh', N'Linh', N'4893514419', N'Nữ', CAST(N'1972-08-26' AS Date), N'Đắk Lắk', N'Công nhân', N'0934452072', N'Đắk Lắk')
INSERT [dbo].[BenhNhan] ([ID], [Ho], [TenLot], [Ten], [CMND_CCCD], [GioiTinh], [NgaySinh], [QueQuan], [NgheNghiep], [SDT], [Diachi]) VALUES (N'BN21123', N'Ngô', N'Minh', N'Trinh', N'7349456327', N'Nữ', CAST(N'1990-01-14' AS Date), N'Quảng Trị', N'Nội trợ', N'0995649378', N'Long An')
INSERT [dbo].[CaKham] ([IDCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (1, N'Sáng', N'7:00 AM', N'12:00 AM')
INSERT [dbo].[CaKham] ([IDCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (2, N'Chiều', N'1:00 PM', N'6:00 PM')
INSERT [dbo].[ChuyenKhoa] ([IDChuyenKhoa], [TenChuyenKhoa], [IDDonViChucNang], [IDKhuVuc], [NgungSuDung], [IDLoaiDonVi]) VALUES (N'0D03', N'Khoa chẩn đoán hình ảnh', 5, 1, 0, 1)
INSERT [dbo].[ChuyenKhoa] ([IDChuyenKhoa], [TenChuyenKhoa], [IDDonViChucNang], [IDKhuVuc], [NgungSuDung], [IDLoaiDonVi]) VALUES (N'0UGM', N'UNG BƯỚU GAN MẬT VÀ GHÉP GAN', 1, 1, 0, 2)
INSERT [dbo].[ChuyenKhoa] ([IDChuyenKhoa], [TenChuyenKhoa], [IDDonViChucNang], [IDKhuVuc], [NgungSuDung], [IDLoaiDonVi]) VALUES (N'A0', N'KHOA KHÁM SỨC KHỎE THEO YÊU CẦU', 5, 1, 0, 0)
GO
INSERT [dbo].[DichVuCanLamSang] ([IDDichVu], [TenDichVu], [LoaiDichVu], [TinhTrang], [ThoiGianNhaySoTB]) VALUES (N'E038', N'Nội soi can thiệp - cắt polyp ống tiêu hóa < 1cm', N'MB', 0, CAST(N'00:08:31' AS Time))
INSERT [dbo].[DichVuCanLamSang] ([IDDichVu], [TenDichVu], [LoaiDichVu], [TinhTrang], [ThoiGianNhaySoTB]) VALUES (N'GGI0', N'Phế máu ngoại biên (BV TMHH)', N'GA', 0, CAST(N'00:05:29' AS Time))
INSERT [dbo].[DichVuCanLamSang] ([IDDichVu], [TenDichVu], [LoaiDichVu], [TinhTrang], [ThoiGianNhaySoTB]) VALUES (N'GGI1', N'Xét nghiệm tế bào học tủy xương (tủy đồ) (BV TMHH)', N'GA', 0, CAST(N'00:05:27' AS Time))
GO
INSERT [dbo].[DonViChucNang] ([IDDonViChucNang], [TenDonViChucNang]) VALUES (1, N'Khám bệnh ngoại trú')
INSERT [dbo].[DonViChucNang] ([IDDonViChucNang], [TenDonViChucNang]) VALUES (5, N'Đơn Vị Dịch Vụ')
INSERT [dbo].[KhuVuc] ([IDKhuVuc], [TenKhuVuc]) VALUES (1, N'Khu B')
INSERT [dbo].[KhuVuc] ([IDKhuVuc], [TenKhuVuc]) VALUES (2, N'Khu C')
INSERT [dbo].[KhuVuc] ([IDKhuVuc], [TenKhuVuc]) VALUES (3, N'Khu A')
INSERT [dbo].[LichKhamBacSi] ([IDBan], [Phong], [Ngay], [CaKham], [IDBacSi]) VALUES (N'BK1', N'1', CAST(N'2019-03-27' AS Date), 1, N'BS819')
INSERT [dbo].[LichKhamBacSi] ([IDBan], [Phong], [Ngay], [CaKham], [IDBacSi]) VALUES (N'BK1', N'117', CAST(N'2019-03-27' AS Date), 1, N'BS750')
INSERT [dbo].[LichKhamBacSi] ([IDBan], [Phong], [Ngay], [CaKham], [IDBacSi]) VALUES (N'BK1', N'141', CAST(N'2019-03-27' AS Date), 1, N'BS159')
INSERT [dbo].[LichSuTraCuu] ([IDTraCuu], [IDNguoiTim], [IDNguoiDuocTim], [ThoiGian]) VALUES (N'LS00001   ', N'BN21676', N'BN21677', CAST(N'2019-04-20T03:13:44.763' AS DateTime))
INSERT [dbo].[LoaiDichVu] ([IDLoaiDichVu], [TenLoaiDichVu], [ChuyenKhoa]) VALUES (N'GA', N'XN GỬI ĐI', N'DH')
INSERT [dbo].[LoaiDichVu] ([IDLoaiDichVu], [TenLoaiDichVu], [ChuyenKhoa]) VALUES (N'KX', N'ĐO LOÃNG XƯƠNG', N'DA')
INSERT [dbo].[LoaiDichVu] ([IDLoaiDichVu], [TenLoaiDichVu], [ChuyenKhoa]) VALUES (N'MA', N'X-QUANG', N'DA')
INSERT [dbo].[PhieuKham] ([IDPhieuKham], [IDBenhNhan], [Ngay], [ChuyenKhoa]) VALUES (N'PK66665', N'BN21676', CAST(N'2019-03-27T00:00:00.000' AS DateTime), N'PH')
INSERT [dbo].[PhieuKham] ([IDPhieuKham], [IDBenhNhan], [Ngay], [ChuyenKhoa]) VALUES (N'PK66666', N'BN21677', CAST(N'2019-03-27T00:00:00.000' AS DateTime), N'PH')
INSERT [dbo].[PhieuKham] ([IDPhieuKham], [IDBenhNhan], [Ngay], [ChuyenKhoa]) VALUES (N'PK66667', N'BN21678', CAST(N'2019-03-27T00:00:00.000' AS DateTime), N'PH')
INSERT [dbo].[PhongCanLamSang] ([ID], [SoPhong], [TrucThuoc], [KhuVuc]) VALUES (N'1', N'Phòng Ði?n Châm 210', NULL, 1)
INSERT [dbo].[PhongCanLamSang] ([ID], [SoPhong], [TrucThuoc], [KhuVuc]) VALUES (N'2', N'Phòng Ði?n Châm 211', NULL, 1)
INSERT [dbo].[PhongCanLamSang] ([ID], [SoPhong], [TrucThuoc], [KhuVuc]) VALUES (N'CT1', N'Phòng CT-Scan', NULL, 1)
INSERT [dbo].[PhongKhamChuyenKhoa] ([ID], [SoPhong], [ChuyenKhoa]) VALUES (N'1', N'Phòng 32', N'PH')
INSERT [dbo].[PhongKhamChuyenKhoa] ([ID], [SoPhong], [ChuyenKhoa]) VALUES (N'100', N'Phòng 21', N'PK')
INSERT [dbo].[PhongKhamChuyenKhoa] ([ID], [SoPhong], [ChuyenKhoa]) VALUES (N'101', N'Phòng 21', N'PN')
GO
INSERT [dbo].[SoHienThiPhongKham] ([STT], [BanKham], [PhongKham], [IDPhieuKham], [Gio], [TinhTrang], [CaKham]) VALUES (1, N'BK1', N'1', N'PK66666', CAST(N'2019-03-27T07:05:47.000' AS DateTime), 1, NULL)
INSERT [dbo].[SoHienThiPhongKham] ([STT], [BanKham], [PhongKham], [IDPhieuKham], [Gio], [TinhTrang], [CaKham]) VALUES (1, N'BK2', N'1', N'PK66665', CAST(N'2019-03-27T07:05:47.000' AS DateTime), 1, NULL)
INSERT [dbo].[SoThuTuPhongCLS] ([IDPhieuKham], [STT], [CanLamSang], [PhongCanLamSang], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66665', 1, N'TZ01', N'TMH1', 1, CAST(N'2019-03-27T07:06:54.000' AS DateTime), N'Chưa')
INSERT [dbo].[SoThuTuPhongCLS] ([IDPhieuKham], [STT], [CanLamSang], [PhongCanLamSang], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66665', 1, N'TZ02', N'TMH2', 1, CAST(N'2019-03-27T07:10:44.000' AS DateTime), N'Chưa')
INSERT [dbo].[SoThuTuPhongCLS] ([IDPhieuKham], [STT], [CanLamSang], [PhongCanLamSang], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66666', 2, N'TZ01', N'TMH1', 1, CAST(N'2019-03-27T07:13:48.000' AS DateTime), N'Chưa')
INSERT [dbo].[SoThuTuPhongKham] ([IDPhieuKham], [STT], [BanKham], [PhongKham], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66665', 1, N'BK2', N'1', 1, CAST(N'2019-03-27T07:03:47.000' AS DateTime), N'Đang khám')
INSERT [dbo].[SoThuTuPhongKham] ([IDPhieuKham], [STT], [BanKham], [PhongKham], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66666', 1, N'BK1', N'1', 1, CAST(N'2019-03-27T07:03:47.000' AS DateTime), N'Đang khám')
INSERT [dbo].[SoThuTuPhongKham] ([IDPhieuKham], [STT], [BanKham], [PhongKham], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66669', 2, N'BK1', N'1', 1, CAST(N'2019-03-27T07:07:34.000' AS DateTime), N'Chưa')
INSERT [dbo].[Temp] ([Status]) VALUES (1)
INSERT [dbo].[ThongKePhongCLS] ([IDPhongCLS], [NgayCT], [CaKham], [SoLuongDoi]) VALUES (N'1', CAST(N'2019-03-27' AS Date), 1, 0)
INSERT [dbo].[ThongKePhongCLS] ([IDPhongCLS], [NgayCT], [CaKham], [SoLuongDoi]) VALUES (N'2', CAST(N'2019-03-27' AS Date), 1, 0)
INSERT [dbo].[ThongKePhongCLS] ([IDPhongCLS], [NgayCT], [CaKham], [SoLuongDoi]) VALUES (N'CT1', CAST(N'2019-03-27' AS Date), 1, 0)
INSERT [dbo].[ThongKePhongKham] ([IDBan], [Phong], [CaKham], [SoLuongDoi], [ChuyenKhoa], [ThoiGianKhamTB]) VALUES (N'BK1', N'1', 1, 1, N'PH', CAST(N'00:03:47' AS Time))
INSERT [dbo].[ThongKePhongKham] ([IDBan], [Phong], [CaKham], [SoLuongDoi], [ChuyenKhoa], [ThoiGianKhamTB]) VALUES (N'BK1', N'117', 1, 0, N'PI', CAST(N'00:06:46' AS Time))
INSERT [dbo].[ThongKePhongKham] ([IDBan], [Phong], [CaKham], [SoLuongDoi], [ChuyenKhoa], [ThoiGianKhamTB]) VALUES (N'BK1', N'141', 1, 0, N'P@', CAST(N'00:04:06' AS Time))
INSERT [dbo].[ThucHienCLS] ([IDPhongCLS], [DichVuCLSThucHien]) VALUES (N'1', N'TJ04')
INSERT [dbo].[ThucHienCLS] ([IDPhongCLS], [DichVuCLSThucHien]) VALUES (N'2', N'TJ04')
INSERT [dbo].[ThucHienCLS] ([IDPhongCLS], [DichVuCLSThucHien]) VALUES (N'CT1', N'ND64')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BenhNhan__B9137313204755C6]    Script Date: 5/20/2019 10:50:07 PM ******/
ALTER TABLE [dbo].[BenhNhan] ADD UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD  CONSTRAINT [FK_BacSi_ChuyenKhoa] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[BacSi] CHECK CONSTRAINT [FK_BacSi_ChuyenKhoa]
GO
ALTER TABLE [dbo].[BanKham]  WITH CHECK ADD  CONSTRAINT [FK_Ban_PK] FOREIGN KEY([Phong])
REFERENCES [dbo].[PhongKhamChuyenKhoa] ([ID])
GO
ALTER TABLE [dbo].[BanKham] CHECK CONSTRAINT [FK_Ban_PK]
GO
ALTER TABLE [dbo].[ChuyenKhoa]  WITH CHECK ADD  CONSTRAINT [FK_CK_DVCN] FOREIGN KEY([IDDonViChucNang])
REFERENCES [dbo].[DonViChucNang] ([IDDonViChucNang])
GO
ALTER TABLE [dbo].[ChuyenKhoa] CHECK CONSTRAINT [FK_CK_DVCN]
GO
ALTER TABLE [dbo].[ChuyenKhoa]  WITH CHECK ADD  CONSTRAINT [FK_CK_KhuVuc] FOREIGN KEY([IDKhuVuc])
REFERENCES [dbo].[KhuVuc] ([IDKhuVuc])
GO
ALTER TABLE [dbo].[ChuyenKhoa] CHECK CONSTRAINT [FK_CK_KhuVuc]
GO
ALTER TABLE [dbo].[DichVuCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_DV_LDV] FOREIGN KEY([LoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([IDLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVuCanLamSang] CHECK CONSTRAINT [FK_DV_LDV]
GO
ALTER TABLE [dbo].[LichKhamBacSi]  WITH CHECK ADD  CONSTRAINT [FK_LK_BacSi] FOREIGN KEY([IDBacSi])
REFERENCES [dbo].[BacSi] ([ID])
GO
ALTER TABLE [dbo].[LichKhamBacSi] CHECK CONSTRAINT [FK_LK_BacSi]
GO
ALTER TABLE [dbo].[LichKhamBacSi]  WITH CHECK ADD  CONSTRAINT [FK_LK_Ban] FOREIGN KEY([IDBan], [Phong])
REFERENCES [dbo].[BanKham] ([IDBan], [Phong])
GO
ALTER TABLE [dbo].[LichKhamBacSi] CHECK CONSTRAINT [FK_LK_Ban]
GO
ALTER TABLE [dbo].[LichKhamBacSi]  WITH CHECK ADD  CONSTRAINT [FK_LK_Ca] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[LichKhamBacSi] CHECK CONSTRAINT [FK_LK_Ca]
GO
ALTER TABLE [dbo].[LichSuTraCuu]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_NgDuocTim] FOREIGN KEY([IDNguoiDuocTim])
REFERENCES [dbo].[BenhNhan] ([ID])
GO
ALTER TABLE [dbo].[LichSuTraCuu] CHECK CONSTRAINT [FK_LichSu_NgDuocTim]
GO
ALTER TABLE [dbo].[LichSuTraCuu]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_NgTim] FOREIGN KEY([IDNguoiTim])
REFERENCES [dbo].[BenhNhan] ([ID])
GO
ALTER TABLE [dbo].[LichSuTraCuu] CHECK CONSTRAINT [FK_LichSu_NgTim]
GO
ALTER TABLE [dbo].[LoaiDichVu]  WITH CHECK ADD  CONSTRAINT [FK_LDV_CK] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[LoaiDichVu] CHECK CONSTRAINT [FK_LDV_CK]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PK_BN] FOREIGN KEY([IDBenhNhan])
REFERENCES [dbo].[BenhNhan] ([ID])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PK_BN]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PK_CK] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PK_CK]
GO
ALTER TABLE [dbo].[PhongCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_PCLS_KV] FOREIGN KEY([KhuVuc])
REFERENCES [dbo].[KhuVuc] ([IDKhuVuc])
GO
ALTER TABLE [dbo].[PhongCanLamSang] CHECK CONSTRAINT [FK_PCLS_KV]
GO
ALTER TABLE [dbo].[PhongKhamChuyenKhoa]  WITH CHECK ADD  CONSTRAINT [FK_PK_ChuyenKhoa] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[PhongKhamChuyenKhoa] CHECK CONSTRAINT [FK_PK_ChuyenKhoa]
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_PhongCanLamSang] FOREIGN KEY([IDPhongCanLamSang])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang] CHECK CONSTRAINT [FK_HienThi_PhongCanLamSang]
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_STTPhongCanLamSang] FOREIGN KEY([IDPhieuKham], [STT], [CanLamSang])
REFERENCES [dbo].[SoThuTuPhongCLS] ([IDPhieuKham], [STT], [CanLamSang])
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang] CHECK CONSTRAINT [FK_HienThi_STTPhongCanLamSang]
GO
ALTER TABLE [dbo].[SoHienThiPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_STTPhongKham] FOREIGN KEY([IDPhieuKham], [STT], [BanKham], [PhongKham])
REFERENCES [dbo].[SoThuTuPhongKham] ([IDPhieuKham], [STT], [BanKham], [PhongKham])
GO
ALTER TABLE [dbo].[SoHienThiPhongKham] CHECK CONSTRAINT [FK_HienThi_STTPhongKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_STT_PhongCanLamSang] FOREIGN KEY([PhongCanLamSang])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [FK_STT_PhongCanLamSang]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [Fk_STT_PKCLS] FOREIGN KEY([IDPhieuKham])
REFERENCES [dbo].[PhieuKham] ([IDPhieuKham])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [Fk_STT_PKCLS]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_STTCLS_CKham] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [FK_STTCLS_CKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_STTCLS_DV] FOREIGN KEY([CanLamSang])
REFERENCES [dbo].[DichVuCanLamSang] ([IDDichVu])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [FK_STTCLS_DV]
GO
ALTER TABLE [dbo].[SoThuTuPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_STT_BanKham] FOREIGN KEY([BanKham], [PhongKham])
REFERENCES [dbo].[BanKham] ([IDBan], [Phong])
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] CHECK CONSTRAINT [FK_STT_BanKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongKham]  WITH CHECK ADD  CONSTRAINT [Fk_STT_PKPhongKham] FOREIGN KEY([IDPhieuKham])
REFERENCES [dbo].[PhieuKham] ([IDPhieuKham])
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] CHECK CONSTRAINT [Fk_STT_PKPhongKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_STTPK_CKham] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] CHECK CONSTRAINT [FK_STTPK_CKham]
GO
ALTER TABLE [dbo].[ThongKePhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_TK_CKham] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[ThongKePhongCLS] CHECK CONSTRAINT [FK_TK_CKham]
GO
ALTER TABLE [dbo].[ThongKePhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_TK_PCLS] FOREIGN KEY([IDPhongCLS])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[ThongKePhongCLS] CHECK CONSTRAINT [FK_TK_PCLS]
GO
ALTER TABLE [dbo].[ThucHienCLS]  WITH CHECK ADD  CONSTRAINT [FK_THCLS_DV] FOREIGN KEY([DichVuCLSThucHien])
REFERENCES [dbo].[DichVuCanLamSang] ([IDDichVu])
GO
ALTER TABLE [dbo].[ThucHienCLS] CHECK CONSTRAINT [FK_THCLS_DV]
GO
ALTER TABLE [dbo].[ThucHienCLS]  WITH CHECK ADD  CONSTRAINT [FK_THCLS_PCLS] FOREIGN KEY([IDPhongCLS])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[ThucHienCLS] CHECK CONSTRAINT [FK_THCLS_PCLS]
GO
/****** Object:  StoredProcedure [dbo].[BacSiTheoChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BacSiTheoChuyenKhoa]
@ChuyenKhoa nvarchar(10)
as
begin
select bs.ID, bs.HovaTen, bs.GioiTinh, bs.NamSinh, bs.QueQuan, bs.ChuyenKhoa,ck.TenChuyenKhoa,lk.IDBan as BanKham,lk.phong as PhongKham ,bs.ThoiGianKhamTB_min
from BacSi bs
inner join ChuyenKhoa ck on bs.ChuyenKhoa=ck.IDChuyenKhoa
inner join LichKhamBacSi lk on lk.IDBacSi=bs.ID
where bs.ChuyenKhoa=@ChuyenKhoa
end;
GO
/****** Object:  StoredProcedure [dbo].[BamSoHienThiPhongCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BamSoHienThiPhongCLS] @IDPhong nvarchar(10)
as begin
	declare @STTnext int, @STTcur int,@IDPKnext nvarchar(10),@SoLuongDoi int
	set @STTcur = (select STT from SoHienThiPhongCanLamSang where  IDPhongCanLamSang=@IDPhong
	and Gio>=all(select Gio from SoHienThiPhongCanLamSang where  IDPhongCanLamSang=@IDPhong) 	 group by STT)
	if(@STTcur is null)
	begin
		set @STTcur=0;
	end;
	set @STTnext = @STTcur+1
	set @IDPKnext = (select IDPhieuKham from SoThuTuPhongCLS where STT=@STTnext and PhongCanLamSang=@IDPhong )
	-- Tao so hien thi
	insert into SoHienThiPhongCanLamSang(IDPhongCanLamSang,STT,IDPhieuKham,CanLamSang,Gio,TinhTrang)
	select STT.PhongCanLamSang,STT.STT,STT.IDPhieuKham,STT.CanLamSang,dateadd (minute,2,Gio),1 as TinhTrang from SoThuTuPhongCLS as STT 
	where STT.IDPhieuKham=@IDPKnext and STT.PhongCanLamSang=@IDPhong;
	-- Lay so hien thi
	select *from SoHienThiPhongCanLamSang as STT join PhongCanLamSang as PCLS on PCLS.ID=STT.IDPhongCanLamSang
	where STT.IDPhieuKham=@IDPKnext  and STT.IDPhongCanLamSang=@IDPhong;
	set @SoLuongDoi=(select SoLuongDoi from ThongKePhongCLS where IDPhongCLS=@IDPhong)
	if(@SoLuongDoi>0)
	begin
	update ThongKePhongCLS
	set SoLuongDoi=SoLuongDoi-1
	where  IDPhongCLS=@IDPhong;
	end;
	else if(@SoLuongDoi <=0)
	begin
	update ThongKePhongCLS
	set SoLuongDoi=0
	where  IDPhongCLS=@IDPhong;
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[BamSoHienThiPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BamSoHienThiPhongKham] @IDBanKham nvarchar(10), @IDPhong nvarchar(10)
as begin
    declare @STTnext int, @STTcur int,@IDPKnext nvarchar(10),@SoLuongDoi int
	set @STTcur = (select STT from SoHienThiPhongKham where BanKham=@IDBanKham and PhongKham=@IDPhong
	and Gio>=all(select Gio from SoHienThiPhongKham where BanKham=@IDBanKham and  PhongKham=@IDPhong) 	 group by STT)
	if(@STTcur is null)
	begin
		set @STTcur=0;
	end;
	set @STTnext = @STTcur+1
	set @IDPKnext = (select IDPhieuKham from SoThuTuPhongKham where BanKham=@IDBanKham and  STT=@STTnext and PhongKham=@IDPhong )

	-- Tao so hien thi
	insert into SoHienThiPhongKham (STT,BanKham,PhongKham,IDPhieuKham,Gio,TinhTrang)
	select STT.STT,STT.BanKham,STT.PhongKham,STT.IDPhieuKham,dateadd (minute,2,Gio),1 as TinhTrang from SoThuTuPhongKham as STT 
	where STT.IDPhieuKham=@IDPKnext and   STT.BanKham=@IDBanKham and STT.PhongKham=@IDPhong;
	-- Lay so hien thi
	select *from  SoHienThiPhongKham as STT join PhongKhamChuyenKhoa as PK on PK.ID=STT.PhongKham
	where STT.IDPhieuKham=@IDPKnext and   STT.BanKham=@IDBanKham and STT.PhongKham= @IDPhong;
	set @SoLuongDoi=(select SoLuongDoi from ThongKePhongKham where IDBan=@IDBanKham and Phong=@IDPhong)
	if(@SoLuongDoi>0)
	begin
	update ThongKePhongKham
	set SoLuongDoi=SoLuongDoi-1
	where IDBan=@IDBanKham and Phong=@IDPhong;
	end;
	else if(@SoLuongDoi<=0)
	begin
	update ThongKePhongKham
	set SoLuongDoi=0
	where IDBan=@IDBanKham and Phong=@IDPhong;
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[CheckBenhNhan]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[CheckBenhNhan] @CMND_CCCD nvarchar(20)
 as begin
	select * from BenhNhan where BenhNhan.CMND_CCCD = @CMND_CCCD
end;
GO
/****** Object:  StoredProcedure [dbo].[CheckPhieuKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CheckPhieuKham] @IDPhieuKham nvarchar(10)
as begin
	declare @temp int;
	set @temp=(select count(*) from PhieuKham where IDPhieuKham=@IDPhieuKham)
	if(@temp!=0)
	begin
	select PK.IDPhieuKham,PK.Ngay,BN.Ho,BN.TenLot,BN.Ten,BN.CMND_CCCD,BN.GioiTinh,BN.NgheNghiep,BN.NgaySinh,BN.SDT,BN.QueQuan,BN.Diachi
    from PhieuKham as PK inner join BenhNhan as BN on Bn.ID=PK.IDBenhNhan
	where PK.IDPhieuKham=@IDPhieuKham;
	end;
	else if(@temp=0)
	begin
	select @temp as Temp;
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[ChiTietCanLamSangTheoChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietCanLamSangTheoChuyenKhoa] @IDChuyenKhoa nvarchar(10)
as
begin
	select P.SoPhong as Phong,SH.STT as SoHienTai, (BN.Ho + ' ' + BN.TenLot + ' ' + BN.Ten) as BenhNhan, TK.SoLuongDoi as SoConCho, DV.ThoiGianNhaySoTB as TocDoNhaySo, SM.GioMax as ThoiGianKhamSoCuoi
	from (select SHT.IDPhongCanLamSang, max(SHT.Gio) as GioMax 
			from SoHienThiPhongCanLamSang SHT
			group by SHT.IDPhongCanLamSang) as SM
	inner join SoHienThiPhongCanLamSang SH on SH.IDPhongCanLamSang = SM.IDPhongCanLamSang
	inner join PhieuKham PK on PK.IDPhieuKham = SH.IDPhieuKham
	inner join PhongCanLamSang P on P.ID = SH.IDPhongCanLamSang
	inner join ThucHienCLS TH on TH.IDPhongCLS = P.ID
	inner join DichVuCanLamSang DV on DV.IDDichVu = TH.DichVuCLSThucHien
	inner join LoaiDichVu LDV on LDV.IDLoaiDichVu = DV.LoaiDichVu
	inner join ThongKePhongCLS TK on TK.IDPhongCLS = SH.IDPhongCanLamSang
	inner join BenhNhan BN on BN.ID = PK.IDBenhNhan
where @IDChuyenKhoa = LDV.ChuyenKhoa
end;
GO
/****** Object:  StoredProcedure [dbo].[ChiTietCanLamSangTheoLoaiDichVu]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietCanLamSangTheoLoaiDichVu] @IDLoaiDichVu nvarchar(10)
as
begin
	select P.SoPhong as Phong, SH.STT as SoHienTai, (BN.Ho + ' ' + BN.TenLot + ' ' + BN.Ten) as BenhNhan, TK.SoLuongDoi as SoConCho, DV.ThoiGianNhaySoTB as TocDoNhaySo, SM.GioMax as ThoiGianKhamSoCuoi
	from (select SHT.IDPhongCanLamSang, max(SHT.Gio) as GioMax 
			from SoHienThiPhongCanLamSang SHT
			group by SHT.IDPhongCanLamSang) as SM
	inner join SoHienThiPhongCanLamSang SH on SH.IDPhongCanLamSang = SM.IDPhongCanLamSang
	inner join PhieuKham PK on PK.IDPhieuKham = SH.IDPhieuKham
	inner join PhongCanLamSang P on P.ID = SH.IDPhongCanLamSang
	inner join ThucHienCLS TH on TH.IDPhongCLS = P.ID
	inner join DichVuCanLamSang DV on DV.IDDichVu = TH.DichVuCLSThucHien
	inner join LoaiDichVu LDV on LDV.IDLoaiDichVu = DV.LoaiDichVu
	inner join ThongKePhongCLS TK on TK.IDPhongCLS = SH.IDPhongCanLamSang
	inner join BenhNhan BN on BN.ID = PK.IDBenhNhan
where @IDLoaiDichVu = LDV.IDLoaiDichVu
end;
GO
/****** Object:  StoredProcedure [dbo].[ChiTietCanLamSangTheoTenDichVu]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietCanLamSangTheoTenDichVu] @IDDichVu nvarchar(10)
as
begin
	select P.SoPhong as Phong, SH.STT as SoHienTai, (BN.Ho + ' ' + BN.TenLot + ' ' + BN.Ten) as BenhNhan, TK.SoLuongDoi as SoConCho, DV.ThoiGianNhaySoTB as TocDoNhaySo, SM.GioMax as ThoiGianKhamSoCuoi
	from (select SHT.IDPhongCanLamSang, max(SHT.Gio) as GioMax 
			from SoHienThiPhongCanLamSang SHT
			group by SHT.IDPhongCanLamSang) as SM
	inner join SoHienThiPhongCanLamSang SH on SH.IDPhongCanLamSang = SM.IDPhongCanLamSang and SH.Gio=SM.GioMax
	inner join PhieuKham PK on PK.IDPhieuKham = SH.IDPhieuKham
	inner join PhongCanLamSang P on P.ID = SH.IDPhongCanLamSang
	inner join ThucHienCLS TH on TH.IDPhongCLS = P.ID
	inner join DichVuCanLamSang DV on DV.IDDichVu = TH.DichVuCLSThucHien
	inner join LoaiDichVu LDV on LDV.IDLoaiDichVu = DV.LoaiDichVu
	inner join ThongKePhongCLS TK on TK.IDPhongCLS = SH.IDPhongCanLamSang
	inner join BenhNhan BN on BN.ID = PK.IDBenhNhan
where @IDDichVu = DV.IDDichVu
end;
GO
/****** Object:  StoredProcedure [dbo].[DanhSachCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DanhSachCLS] 
@IDChuyenKhoa nvarchar(50)
AS
BEGIN
select cls.TenDichVu, ck.TenChuyenKhoa
from DichVuCanLamSang cls
inner join LoaiDichVu ldv
on cls.LoaiDichVu=ldv.IDLoaiDichVu
inner join ChuyenKhoa ck
on ldv.ChuyenKhoa=ck.IDChuyenKhoa
where ck.IDChuyenKhoa=@IDChuyenKhoa
END;
GO
/****** Object:  StoredProcedure [dbo].[DemSoDoi]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DemSoDoi] 
as begin
truncate table SoLuongDoiPhongKham;
insert into SoLuongDoiPhongKham(BanKham,PhongKham,CaKham,SoLuongDoi,ThoiGianKhamTB)
select  sttpk.BanKham, sttpk.PhongKham,sttpk.CaKham, COUNT(TinhTrang) as soLuongDoi ,BS.ThoiGianKhamTB_min as ThoiGianKhamTB 
from SoThuTuPhongKham as sttpk    join LichKhamBacSi as LK on LK.IDBan=sttpk.BanKham join BacSi as BS on BS.ID= LK.IDBacSi
where sttpk.TinhTrang=N'Chưa'  and LK.Phong=sttpk.PhongKham 
group by sttpk.BanKham, sttpk.PhongKham,sttpk.CaKham,BS.ThoiGianKhamTB_min
end;
GO
/****** Object:  StoredProcedure [dbo].[HienThiLichSuTimKiem]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HienThiLichSuTimKiem] @IDNgTim nvarchar(10)
as begin
	select IDNguoiTim as TraCuuBoi,IDNguoiDuocTim,BN.Ho,BN.TenLot,BN.Ten,BN.NgaySinh from LichSuTraCuu as LS join BenhNhan as BN on BN.ID=LS.IDNguoiDuocTim
	where IDNguoiTim=@IDNgTim
end;
GO
/****** Object:  StoredProcedure [dbo].[HienThiThongTinBN]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HienThiThongTinBN]
@ID nvarchar(10)
AS
BEGIN
select (BN.Ho + ' ' +BN.TenLot + ' ' + BN.Ten) AS HoVaTen, BN.GioiTinh, BN.NgaySinh, datediff(year,BN.NgaySinh,getdate()) AS Tuoi, BN.QueQuan, BN.CMND_CCCD, BN.DiaChi, BN.NgheNghiep, BN.SDT, null as NguoiThan
from BenhNhan BN
where BN.ID=@ID
END;
GO
/****** Object:  StoredProcedure [dbo].[LaySTT]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LaySTT] @IDBenhNhan nvarchar(10)
as begin
	select distinct IDBenhNhan,B.STT as STTPhongKham,B.SoPhong,B.SoBan,B.TenChuyenKhoa,convert(time,B.Gio) as ThoiGianDuKien,B.TinhTrang,A.SoHienTaiCuaPhong
	from 
		(select IDBenhNhan,STTPK.IDPhieuKham,STTPK.STT,STTPK.BanKham,bk.SoBan,STTPK.PhongKham,PKCK.SoPhong,CK.TenChuyenKhoa,STTPK.Gio,STTPK.TinhTrang
		from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan  join SoThuTuPhongKham as STTPK on STTPK.IDPhieuKham= PK.IDPhieuKham
		join  BanKham as BK on BK.IDBan = STTPK.BanKham join PhongKhamChuyenKhoa as PKCK on PKCK.ID = BK.Phong and PKCK.ID=STTPK.PhongKham
		join ChuyenKhoa as CK on Ck.IDChuyenKhoa=PKCK.ChuyenKhoa
		where IDBenhNhan=@IDBenhNhan) as B
		 left outer join
		(select BK.IDBan as IDBan,BK.SoBan, PK.ID as IDPhongKham,PK.SoPhong,max(STT) as SoHienTaiCuaPhong from SoHienThiPhongKham as SHT 
		join BanKham as BK on BK.IDBan=SHT.BanKham join PhongKhamChuyenKhoa as PK on PK.ID=Bk.Phong 
		where BK.Phong=SHT.PhongKham 
		group by Bk.IDBan,BK.SoBan,PK.ID,PK.SoPhong) as A on A.IDBan=B.BanKham and A.IDPhongKham=B.PhongKham;

	select distinct IDBenhNhan,STTCLS.STT as STTPhongCLS, PCLS.SoPhong,DV.TenDichVu as TenCanLamSang,convert(time, STTCLS.Gio) as ThoiGianDuKien,STTCLS.TinhTrang,A.SoHienTaiCuaPhong
	from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan join SoThuTuPhongCLS as STTCLS on STTCLS.IDPhieuKham=PK.IDPhieuKham 
		join PhongCanLamSang as PCLS on PCLS.ID=STTCLS.PhongCanLamSang
		left outer join (select PCLS.ID as IDPhongCLS,PCLS.SoPhong,max(STT) as SoHienTaiCuaPhong 
			 from SoHienThiPhongCanLamSang as SHT join PhongCanLamSang as PCLS on PCLS.ID=SHT.IDPhongCanLamSang
	group by PCLS.ID,PCLS.SoPhong) as A on A.IDPhongCLS=PCLS.ID join ThucHienCLS as TH on TH.IDPhongCLS=PCLS.ID 
	join  DichVuCanLamSang as DV on DV.IDDichVu =TH.DichVuCLSThucHien 
	where IDBenhNhan=@IDBenhNhan and STTCLS.CanLamSang=TH.DichVuCLSThucHien ;
	end;
GO
/****** Object:  StoredProcedure [dbo].[LaySTTPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LaySTTPhongKham] @IDBenhNhan nvarchar(10)
as begin
	select distinct IDBenhNhan,Ho,TenLot,Ten, PK.IDPhieuKham,STTPK.STT as STTPhongKham,PKCK.ID as IDPhong,PKCK.SoPhong,convert(time,STTPK.Gio) as ThoiGianDuKien,STTPK.TinhTrang
	from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan join SoThuTuPhongKham as STTPK on STTPK.IDPhieuKham= PK.IDPhieuKham
	join PhongKhamChuyenKhoa as PKCK on PKCK.ID = STTPK.PhongKham 
	where IDBenhNhan=@IDBenhNhan
	end;
GO
/****** Object:  StoredProcedure [dbo].[LayThongTinBenhNhan]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayThongTinBenhNhan] @maBN varchar(10)
as begin
	select *
	from BenhNhan
	where ID = @maBN
end;
GO
/****** Object:  StoredProcedure [dbo].[PhatSinhSTTCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhatSinhSTTCLS] @IDPhieuKham nvarchar(10),@IDDichVuCLS nvarchar(10)
as begin 
	declare @IDPhongCLS nvarchar(10),@STTcur int,@STTnew int,@GioDuKien datetime,@GioHienTai datetime,@GioDuKiennew datetime,
	@temp int,@temp1 int,@Timenhayso time,@IDDichVu nvarchar(10);
	set @GioHienTai='2019-03-27 07:00:0.000';
	select @temp1=count(*)
	from ThongKeCLSChiTiet as CT 
	where CT.DichVuCLSThucHien =@IDDichVuCLS and CT.GioDuKienCuoi<=all( select CT.GioDuKienCuoi from ThongKeCLSChiTiet as CT          
	where CT.DichVuCLSThucHien =@IDDichVuCLS);
	select @temp=count(*)
	from ThongKeCLSChiTiet_Null as CT inner join ThongKeCLS as CLS on CLS.IDPhongCLS=CT.IDPhongCLS
	where CLS.DichVuCLSThucHien =@IDDichVuCLS  and CT.IDPhongCLS not in
	 (select STT.PhongCanLamSang from SoThuTuPhongCLS as STT);
	if(@temp1>0 and @temp=0)
	begin
		select top(1) @IDPhongCLS = CT.IDPhongCLS,@STTcur=CT.SoSTTPhatSinhCuoi,@Timenhayso=CLS.ThoiGianNhaySoTB,@GioDuKien=CT.GioDuKienCuoi
		from ThongKeCLSChiTiet as CT join ThongKeCLS as CLS on CLS.IDPhongCLS=CT.IDPhongCLS and CLS.DichVuCLSThucHien=@IDDichVuCLS
		where CT.DichVuCLSThucHien =@IDDichVuCLS and CT.GioDuKienCuoi<=all( select CT.GioDuKienCuoi from ThongKeCLSChiTiet as CT          
		where CT.DichVuCLSThucHien =@IDDichVuCLS)
		if(@GioDuKien<@GioHienTai)
		begin
			set @STTnew=@STTcur+1;
			set @GioDuKiennew=(select dbo.CongThoiGian(@Timenhayso,@GioHienTai));
			insert into SoThuTuPhongCLS values(@IDPhieuKham,@STTnew,@IDDichVuCLS,@IDPhongCLS,null,@GioDuKiennew,N'Chưa');
			update ThongKePhongCLS
			set SoLuongDoi=SoLuongDoi+1
			where IDPhongCLS=@IDPhongCLS;
		end;
		else if(@GioDuKien>=@GioHienTai)
		begin
			set @STTnew=@STTcur+1;
			set @GioDuKiennew=(select dbo.CongThoiGian(@Timenhayso,@GioDuKien));
			insert into SoThuTuPhongCLS values(@IDPhieuKham,@STTnew,@IDDichVuCLS,@IDPhongCLS,null,@GioDuKiennew,N'Chưa');
			update ThongKePhongCLS
			set SoLuongDoi=SoLuongDoi+1
			where IDPhongCLS=@IDPhongCLS;
			end;
	end;
	else if(@temp>0)
	begin
		select top(1) @IDPhongCLS = CT.IDPhongCLS,@Timenhayso=CLS.ThoiGianNhaySoTB
		from ThongKeCLSChiTiet_Null as CT inner join ThongKeCLS as CLS on CLS.IDPhongCLS=CT.IDPhongCLS
		where CLS.DichVuCLSThucHien =@IDDichVuCLS and CT.IDPhongCLS not in (select STT.PhongCanLamSang from SoThuTuPhongCLS as STT);
		set @STTnew=1;
		set @GioDuKiennew=(select dbo.CongThoiGian(@Timenhayso,@GioHienTai));
		insert into SoThuTuPhongCLS values(@IDPhieuKham,@STTnew,@IDDichVuCLS,@IDPhongCLS,null,@GioDuKiennew,N'Chưa');
		update ThongKePhongCLS
		set SoLuongDoi=SoLuongDoi+1
		where IDPhongCLS=@IDPhongCLS;
	end;
	select * from SoThuTuPhongCLS where IDPhieuKham=@IDPhieuKham and STT=@STTnew and PhongCanLamSang=@IDPhongCLS;
end;
GO
/****** Object:  StoredProcedure [dbo].[PhatSinhSTTPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhatSinhSTTPhongKham] @IDPhieuKham nvarchar(10), @IDChuyenKhoa nvarchar(10) 
as begin
	declare @STT int,@STTnew int,@BanKham nvarchar(10),@PhongKham nvarchar(10),@TimeTB time,@CaKham int,@SoLuongDoi int,
			@GioDuKien datetime,@GioDuKien_new datetime,@temp int,@temp1 int,@Timehientai datetime;
	set @Timehientai='2019-03-27 07:00:00';
	select @temp=count(*) 
	from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong
	where TK.ThoiGianKhamTB_min<=all(select TK.ThoiGianKhamTB_min from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong where  TK.ChuyenKhoa=@IDChuyenKhoa  and PK.SoLuongDoi=0) 
	  and TK.ChuyenKhoa in (select TK.CHuyenKhoa from ThongKeChiTiet_Null as TK where  TK.ChuyenKhoa=@IDChuyenKhoa) and PK.SoLuongDoi=0 and TK.Phong not in (select PhongKham from SoHienThiPhongKham);
	select @temp1=count(*)
	from ThongKeChiTiet as TK;
	select @PhongKham=TK.PhongKham,@BanKham=TK.BanKham,@TimeTB=TK.ThoiGianKhamTB,@CaKham=TK.CaKham,@GioDuKien=TK.GioDuKienSoCuoi
	from ThongKeChiTiet as TK
	where ChuyenKhoa=@IDChuyenKhoa; 
	if( @PhongKham is null)
	begin 
		select @PhongKham=TK.Phong,@BanKham=TK.IDBan,@TimeTB=TK.ThoiGianKhamTB_min,@CaKham=TK.CaKham
		from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong
		where TK.ThoiGianKhamTB_min<=all(select TK.ThoiGianKhamTB_min from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong where  TK.ChuyenKhoa=@IDChuyenKhoa  and PK.SoLuongDoi=0) 
		  and TK.ChuyenKhoa in (select TK.CHuyenKhoa from ThongKeChiTiet_Null as TK where  TK.ChuyenKhoa=@IDChuyenKhoa) and PK.SoLuongDoi=0 and TK.Phong not in (select PhongKham from SoHienThiPhongKham);
		set @STTnew=1;
		set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,'2019-03-27 07:00:00'));
		insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
	end;
	else
	begin
		if(@temp>0 and @temp1>0 )
		begin
			select @PhongKham=TK.Phong,@BanKham=TK.IDBan,@TimeTB=TK.ThoiGianKhamTB_min,@CaKham=TK.CaKham
			from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong
			where TK.ThoiGianKhamTB_min<=all(select TK.ThoiGianKhamTB_min from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong where  TK.ChuyenKhoa=@IDChuyenKhoa  and PK.SoLuongDoi=0) 
			 and TK.ChuyenKhoa in (select TK.CHuyenKhoa from ThongKeChiTiet_Null as TK where  TK.ChuyenKhoa=@IDChuyenKhoa) and PK.SoLuongDoi=0 and TK.Phong not in (select PhongKham from SoHienThiPhongKham);
			set @STTnew=1;
			set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,'2019-03-27 07:00:00'));
			insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
		end;
		else 
		begin 
			if(@GioDuKien<@Timehientai)
			begin
				select @STT=max(STT) from SoThuTuPhongKham as STT
				where STT.BanKham=@BanKham and STT.PhongKham=@PhongKham;
				set @STTnew=@STT +1;
				set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,@Timehientai));
				insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
			end;
			else 
			begin
				select @STT=max(STT) from SoThuTuPhongKham as STT
				where STT.BanKham=@BanKham and STT.PhongKham=@PhongKham;
				set @STTnew=@STT +1;
				set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,@GioDuKien));
				insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
			end;	
		end;
	end;
		update ThongKePhongKham
		set SoLuongDoi=SoLuongDoi+1
		where IDBan=@BanKham and Phong=@PhongKham
	select * from SoThuTuPhongKham where IDPhieuKham=@IDPhieuKham and STT=@STTnew and BanKham=@BanKham and PhongKham=@PhongKham;
end;
GO
/****** Object:  StoredProcedure [dbo].[PhatSinhSTTPhongKham_BacSi]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhatSinhSTTPhongKham_BacSi] @IDPhieuKham nvarchar(10), @IDChuyenKhoa nvarchar(10),@IDBacSi nvarchar(10)
as begin
	declare @STT int,@STTnew int,@BanKham nvarchar(10),@PhongKham nvarchar(10),@TimeTB time,@CaKham int,@SoLuongDoi int,
			@GioDuKien datetime,@GioDuKien_new datetime,@temp int,@Timecur datetime;
	set @Timecur='2019-03-27 07:00:00';
	select @temp=count(*)
	from SoThuTuPhongKham as STT inner join LichKhamBacSi as LK on LK.IDBan=STT.BanKham and LK.Phong=STT.PhongKham
	where IDBacSi=@IDBacSi;
	if(@temp=0)
	begin 
		set @STTnew=1;
		select @BanKham= BK.IDBan,@PhongKham=BK.Phong,@CaKham= Lk.CaKham,@TimeTB= BS.ThoiGianKhamTB_min
		from BanKham as BK inner join LichKhamBacSi as LK on LK.IDBan=BK.IDBan and LK.Phong=BK.Phong 
						   inner join BacSi as BS on BS.ID=LK.IDBacSi
		where BS.ChuyenKhoa=@IDChuyenKhoa and BS.ID=@IDBacSi
		set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,'2019-03-27 07:00:00'));
		insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
		update ThongKePhongKham
		set SoLuongDoi=SoLuongDoi+1
		where IDBan=@BanKham and Phong=@PhongKham;
	end;
	else
	begin
		select  @BanKham= BK.IDBan,@PhongKham=BK.Phong,@STT=TK.STT, @CaKham= Lk.CaKham,@TimeTB= BS.ThoiGianKhamTB_min,@GioDuKien=TK.GioDuKienSoCuoi
		from BanKham as BK inner join ThongKeSTTCuoiPhongKham as TK on TK.BanKham=BK.IDBan and TK.PhongKham=BK.Phong
						   inner join LichKhamBacSi as LK on LK.IDBan=TK.BanKham and LK.Phong=TK.PhongKham
						   inner join BacSi as BS on BS.ID=LK.IDBacSi 
		where BS.ChuyenKhoa=@IDChuyenKhoa and BS.ID=@IDBacSi;
		if( @GioDuKien<@Timecur)
		begin
				set @STTnew=@STT +1;
				set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,@Timecur));
				insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
				update ThongKePhongKham
				set SoLuongDoi=SoLuongDoi+1
				where IDBan=@BanKham and Phong=@PhongKham;
		end;
		else
		begin
			set @STTnew=@STT +1;
			set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,@GioDuKien));
			insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
			update ThongKePhongKham
			set SoLuongDoi=SoLuongDoi+1
			where IDBan=@BanKham and Phong=@PhongKham;
		end;
	end;
	select * from SoThuTuPhongKham where IDPhieuKham=@IDPhieuKham and STT=@STTnew and BanKham=@BanKham and PhongKham=@PhongKham;
end;
GO
/****** Object:  StoredProcedure [dbo].[PhatSinhSTTPhongKhamCa2]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PhatSinhSTTPhongKhamCa2] @IDPhieuKham nvarchar(10), @IDChuyenKhoa nvarchar(10) 
as begin
	declare @STT int,@STTnew int,@BanKham nvarchar(10),@PhongKham nvarchar(10),@TimeTB time,@CaKham int,@SoLuongDoi int,
			@GioDuKien datetime,@GioDuKien_new datetime,@temp int,@temp1 int,@Timehientai datetime;
	set @Timehientai='2019-03-27 12:30:00';
	select @temp=count(*) 
	from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong
	where TK.ThoiGianKhamTB_min<=all(select TK.ThoiGianKhamTB_min from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong where  TK.ChuyenKhoa=@IDChuyenKhoa  and PK.SoLuongDoi=0) 
	  and TK.ChuyenKhoa in (select TK.CHuyenKhoa from ThongKeChiTiet_Null as TK where  TK.ChuyenKhoa=@IDChuyenKhoa) and PK.SoLuongDoi=0 and TK.Phong not in (select PhongKham from SoHienThiPhongKham);
	select @temp1=count(*)
	from ThongKeChiTiet as TK;
	select @PhongKham=TK.PhongKham,@BanKham=TK.BanKham,@TimeTB=TK.ThoiGianKhamTB,@CaKham=TK.CaKham,@GioDuKien=TK.GioDuKienSoCuoi
	from ThongKeChiTiet as TK
	where ChuyenKhoa=@IDChuyenKhoa; 
	if( @PhongKham is null)
	begin 
		select @PhongKham=TK.Phong,@BanKham=TK.IDBan,@TimeTB=TK.ThoiGianKhamTB_min,@CaKham=TK.CaKham
		from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong
		where TK.ThoiGianKhamTB_min<=all(select TK.ThoiGianKhamTB_min from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong where  TK.ChuyenKhoa=@IDChuyenKhoa  and PK.SoLuongDoi=0) 
		  and TK.ChuyenKhoa in (select TK.CHuyenKhoa from ThongKeChiTiet_Null as TK where  TK.ChuyenKhoa=@IDChuyenKhoa) and PK.SoLuongDoi=0 and TK.Phong not in (select PhongKham from SoHienThiPhongKham);
		set @STTnew=1;
		set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,'2019-03-27 12:30:00'));
		insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
	end;
	else
	begin
		if(@temp>0 and @temp1>0 )
		begin
			select @PhongKham=TK.Phong,@BanKham=TK.IDBan,@TimeTB=TK.ThoiGianKhamTB_min,@CaKham=TK.CaKham
			from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong
			where TK.ThoiGianKhamTB_min<=all(select TK.ThoiGianKhamTB_min from ThongKeChiTiet_Null as TK join ThongKePhongKham as PK on PK.IDBan = TK.IDBan and PK.Phong=TK.Phong where  TK.ChuyenKhoa=@IDChuyenKhoa  and PK.SoLuongDoi=0) 
			 and TK.ChuyenKhoa in (select TK.CHuyenKhoa from ThongKeChiTiet_Null as TK where  TK.ChuyenKhoa=@IDChuyenKhoa) and PK.SoLuongDoi=0 and TK.Phong not in (select PhongKham from SoHienThiPhongKham);
			set @STTnew=1;
			set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,'2019-03-27 12:30:00'));
			insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
		end;
		else 
		begin 
			if(@GioDuKien<@Timehientai)
			begin
				select @STT=max(STT) from SoThuTuPhongKham as STT
				where STT.BanKham=@BanKham and STT.PhongKham=@PhongKham;
				set @STTnew=@STT +1;
				set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,@Timehientai));
				insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
			end;
			else 
			begin
				select @STT=max(STT) from SoThuTuPhongKham as STT
				where STT.BanKham=@BanKham and STT.PhongKham=@PhongKham;
				set @STTnew=@STT +1;
				set @GioDuKien_new=(select dbo.CongThoiGian(@TimeTB,@GioDuKien));
				insert into SoThuTuPhongKham values(@IDPhieuKham,@STTnew,@BanKham,@PhongKham,null,@GioDuKien_new,N'Chưa');
			end;	
		end;
	end;
		update ThongKePhongKham
		set SoLuongDoi=SoLuongDoi+1
		where IDBan=@BanKham and Phong=@PhongKham
	select * from SoThuTuPhongKham where IDPhieuKham=@IDPhieuKham and STT=@STTnew and BanKham=@BanKham and PhongKham=@PhongKham;
end;
GO
/****** Object:  StoredProcedure [dbo].[ResetThongKePhongCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ResetThongKePhongCLS]
as begin
truncate table ThongKePhongCLS;
insert into ThongKePhongCLS(IDPhongCLS,NgayCT,CaKham,SoLuongDoi)
select distinct TH.IDPhongCLS,'2019-03-27'as NgayCT,1 as CaKham,0 as SoLuongDoi
from ThucHienCLS as TH inner join DichVuCanLamSang as DV on DV.IDDichVu=TH.DichVuCLSThucHien 
end;
GO
/****** Object:  StoredProcedure [dbo].[ResetThongKePhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ResetThongKePhongKham]
as begin
truncate table ThongKePhongKham;
insert into ThongKePhongKham(IDBan,Phong,CaKham,SoLuongDoi,ChuyenKhoa,ThoiGianKhamTB)
select BK.IDBan,BK.Phong,LK.CaKham,0 as SoLuongDoi,BS.ChuyenKhoa, BS.ThoiGianKhamTB_min
from BanKham as BK join LichKhamBacSi as LK on LK.IDBan=BK.IDBan and LK.Phong=BK.Phong join BacSi as BS on BS.ID=LK.IDBacSi
end;
GO
/****** Object:  StoredProcedure [dbo].[Search]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Search] @IDBenhNhan nvarchar(10)
as begin
	select BenhNhan.Ho, BenhNhan.TenLot,BenhNhan.Ten 
	from BenhNhan
	where ID = @IDBenhNhan;

	select distinct IDBenhNhan,B.STT as STTPhongKham,B.SoPhong,B.SoBan,B.TenChuyenKhoa,convert(time,B.Gio) as ThoiGianDuKien,B.TinhTrang,A.SoHienTaiCuaPhong
	from 
		(select IDBenhNhan,STTPK.IDPhieuKham,STTPK.STT,STTPK.BanKham,bk.SoBan,STTPK.PhongKham,PKCK.SoPhong,CK.TenChuyenKhoa,STTPK.Gio,STTPK.TinhTrang
		from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan  join SoThuTuPhongKham as STTPK on STTPK.IDPhieuKham= PK.IDPhieuKham
		join  BanKham as BK on BK.IDBan = STTPK.BanKham join PhongKhamChuyenKhoa as PKCK on PKCK.ID = BK.Phong and PKCK.ID=STTPK.PhongKham
		join ChuyenKhoa as CK on Ck.IDChuyenKhoa=PKCK.ChuyenKhoa
		where IDBenhNhan=@IDBenhNhan) as B
		 left outer join
		(select BK.IDBan as IDBan,BK.SoBan, PK.ID as IDPhongKham,PK.SoPhong,max(STT) as SoHienTaiCuaPhong from SoHienThiPhongKham as SHT 
		join BanKham as BK on BK.IDBan=SHT.BanKham join PhongKhamChuyenKhoa as PK on PK.ID=Bk.Phong 
		where BK.Phong=SHT.PhongKham 
		group by Bk.IDBan,BK.SoBan,PK.ID,PK.SoPhong) as A on A.IDBan=B.BanKham and A.IDPhongKham=B.PhongKham;

	select distinct IDBenhNhan,STTCLS.STT as STTPhongCLS, PCLS.SoPhong,DV.TenDichVu as TenCanLamSang,convert(time, STTCLS.Gio) as ThoiGianDuKien,STTCLS.TinhTrang,max(A.SoHienTaiCuaPhong) as SoHienTaiCuaPhong
	from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan join SoThuTuPhongCLS as STTCLS on STTCLS.IDPhieuKham=PK.IDPhieuKham 
		join PhongCanLamSang as PCLS on PCLS.ID=STTCLS.PhongCanLamSang
		join (select PCLS.ID as IDPhongCLS,PCLS.SoPhong, max(SHT.Gio) as Gio,STT as SoHienTaiCuaPhong 
			 from SoHienThiPhongCanLamSang as SHT join PhongCanLamSang as PCLS on PCLS.ID=SHT.IDPhongCanLamSang
	group by PCLS.ID,PCLS.SoPhong,STT ) as A on A.IDPhongCLS=PCLS.ID join ThucHienCLS as TH on TH.IDPhongCLS=PCLS.ID 
	join  DichVuCanLamSang as DV on DV.IDDichVu =TH.DichVuCLSThucHien 
	where IDBenhNhan=@IDBenhNhan and STTCLS.CanLamSang=TH.DichVuCLSThucHien 
	group by  IDBenhNhan,STTCLS.STT,PCLS.SoPhong,DV.TenDichVu,convert(time, STTCLS.Gio),STTCLS.TinhTrang;
	end;
GO
/****** Object:  StoredProcedure [dbo].[TaoHoSoBenhNhan]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[TaoHoSoBenhNhan] @Ho nvarchar(6),
	@TenLot nvarchar(20),
	@Ten nvarchar(5),
	@CMND_CCCD nvarchar(20) ,
	@GioiTinh nvarchar(3),
	@NgaySinh date,
	@QueQuan nvarchar(20),
	@NgheNghiep nvarchar(20),
	@SDT nvarchar(15),
	@Diachi nvarchar(50)
 as begin
 declare @lastSTT nvarchar(10),@STTnew_int int,@STTnew_char nvarchar(10),@newID nvarchar(10);
 set @lastSTT=( select max(right(ID,5)) from BenhNhan);
 set @STTnew_int = CONVERT(int,@lastSTT) + 1;
 set @STTnew_char = CONVERT(nvarchar,@STTnew_int);
 set @newID='BN' + @STTnew_char;
 insert into BenhNhan values(@newID,@Ho,@TenLot,@Ten,@CMND_CCCD,@GioiTinh,@NgaySinh,@QueQuan,@NgheNghiep,@SDT,@Diachi);
 select * from BenhNhan where ID =@newID;
 end;
GO
/****** Object:  StoredProcedure [dbo].[TaoLichSuTimKiem]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TaoLichSuTimKiem] @IDNgTim nvarchar(10), @IDNgDuocTim nvarchar(10)
as begin
	
	declare @Thoigian datetime,@counter int
	set @counter=(select count(*) from BenhNhan where ID=@IDNgDuocTim);
	if(@counter >0)
	begin
	set @Thoigian=getdate();
	insert into LichSuTraCuu values ('',@IDNgTim,@IDNgDuocTim,@Thoigian);
	update Temp
	set Status = 1;
	select * from temp;
	end;
	else if(@counter=0)
	begin
	update Temp
	set Status = 0;
	select * from temp;
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[TaoPhieuKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[TaoPhieuKham] @IDBenhNhan nvarchar(10),@IDCHuyenKhoa nvarchar(10)
 as begin
 declare @LastPK nvarchar(10),@STT_char nvarchar(10),@STTnew_int int,@STTnew_char nvarchar(10),@NewPK nvarchar(10);
 set @LastPK=(select IDPhieuKham from PhieuKham where Ngay >= all ( select Ngay from PhieuKham));
 set @STT_char=(select right(@LastPK,5));
 set @STTnew_int = CONVERT(int,@STT_char) + 1;
 set @STTnew_char = CONVERT(nvarchar,@STTnew_int);
 set @NewPK='PK' + @STTnew_char;
 insert into PhieuKham values(@NewPK,@IDBenhNhan,getdate(),@IDCHuyenKhoa);
 select * from PhieuKham where Ngay >= all ( select Ngay from PhieuKham);
end;
GO
/****** Object:  StoredProcedure [dbo].[TinhTrangConChoTheoChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TinhTrangConChoTheoChuyenKhoa]
@IDchuyenKhoa nvarchar(10)
AS
BEGIN
select  B.BanKham,B.PhongKham, tk.SoLuongDoi as SoConCho, tk.ThoiGianKhamTB as TocDoNhaySo,B.GioMax as ThoiGianKhamSoCuoi
from ( select stt.PhongKham, stt.BanKham, stt.CaKham, max(stt.Gio) as GioMax
		from SoThuTuPhongKham stt
		group by stt.PhongKham, stt.BanKham, stt.CaKham ) as B
inner join ThongKePhongKham tk on tk.IDBan=B.BanKham and tk.Phong=B.PhongKham and tk.CaKham=B.CaKham
where tk.ChuyenKhoa=@IDchuyenKhoa
END;
GO
/****** Object:  StoredProcedure [dbo].[TinhTrangConChoTheoPhongThuocChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TinhTrangConChoTheoPhongThuocChuyenKhoa] @IDPhong nvarchar(10)
as 
begin
select  B.BanKham,B.PhongKham, tk.SoLuongDoi as SoConCho, tk.ThoiGianKhamTB as TocDoNhaySo,B.GioMax as ThoiGianKhamSoCuoi
from ( select stt.PhongKham, stt.BanKham, stt.CaKham, max(stt.Gio) as GioMax
		from SoThuTuPhongKham stt
		group by stt.PhongKham, stt.BanKham, stt.CaKham ) as B
inner join ThongKePhongKham tk on tk.IDBan=B.BanKham and tk.Phong=B.PhongKham and tk.CaKham=B.CaKham
where tk.Phong=@IDPhong
END;
GO
/****** Object:  StoredProcedure [dbo].[TinhTrangHienTaiTheoChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TinhTrangHienTaiTheoChuyenKhoa]
@IDchuyenKhoa nvarchar(10)
AS
BEGIN
declare @temp int,@temp2 int
set @temp=(select distinct count(*) from SoHienThiPhongKham sht inner join PhongKhamChuyenKhoa pkck on pkck.ID= sht.PhongKham
			where pkck.ChuyenKhoa=@IDchuyenKhoa);
set @temp2 =(select count(*)
			from (select distinct pkck.ChuyenKhoa,lk.Phong ,LK.IDBan from SoThuTuPhongKham as STT join LichKhamBacSi as LK 
							 on STT.BanKham=LK.IDBan and LK.Phong= STT.PhongKham 
							 inner join PhongKhamChuyenKhoa pkck on pkck.ID= STT.PhongKham
							 where pkck.ChuyenKhoa=@IDchuyenKhoa) as A);
if(@temp=0)
begin
select  distinct pkck.ChuyenKhoa,lk.Phong as PhongKham ,bk.SoBan,bs.ID as IDBacSi,  bs.HovaTen as BacSi,0 as SoHienTai, N'Chưa có bệnh nhân' AS BenhNhan
	from LichKhamBacSi lk 
	inner join SoThuTuPhongKham as STT on STT.BanKham=lk.IDBan and STT.PhongKham=lk.Phong
	inner join BanKham bk on bk.IDBan=lk.IDBan and bk.Phong=STT.PhongKham
	inner join BacSi bs on bs.ID=lk.IDBacSi
	inner join PhongKhamChuyenKhoa pkck on pkck.ID= bk.Phong
	where pkck.ChuyenKhoa=@IDchuyenKhoa
	order by  pkck.ChuyenKhoa,lk.Phong ,bk.SoBan;
end;
else if(@temp2=0)
begin
select  pkck.ChuyenKhoa,B.PhongKham,bk.SoBan, bs.ID as IDBacSi, bs.HoVaTen as BacSi,  A.stt AS SoHienTai, (BN.Ho + ' ' +BN.TenLot + ' ' + BN.Ten) AS BenhNhan, B.GioMax
from ( select sht.PhongKham, sht.BanKham, max(sht.Gio) as GioMax
		from SoHienThiPhongKham sht
		group by sht.PhongKham, sht.BanKham ) as B
inner join SoHienThiPhongKham as A on A.BanKham=B.BanKham and A.PhongKham=b.PhongKham and A.Gio=B.GioMax
inner join PhieuKham pk on pk.IDPhieuKham= A.IDPhieuKham
inner join BenhNhan BN on IDBenhNhan=BN.ID
inner join BanKham bk on bk.IDBan=B.BanKham and bk.Phong=B.PhongKham
inner join LichKhamBacSi lk on lk.IDBan=B.BanKham and lk.Phong=B.PhongKham
inner join BacSi bs on bs.ID=lk.IDBacSi
inner join PhongKhamChuyenKhoa pkck on pkck.ID= bk.Phong
where pkck.ChuyenKhoa=@IDchuyenKhoa;
end;
else if(((@temp2 >@temp ) and @temp!=0) or ((@temp2<@temp ) and @temp2!=0))
begin
select  pkck.ChuyenKhoa,B.PhongKham,bk.SoBan, bs.ID as IDBacSi, bs.HoVaTen as BacSi,  A.stt AS SoHienTai, (BN.Ho + ' ' +BN.TenLot + ' ' + BN.Ten) AS BenhNhan, B.GioMax
from ( select sht.PhongKham, sht.BanKham, max(sht.Gio) as GioMax
		from SoHienThiPhongKham sht
		group by sht.PhongKham, sht.BanKham ) as B
inner join SoHienThiPhongKham as A on A.BanKham=B.BanKham and A.PhongKham=b.PhongKham and A.Gio=B.GioMax
inner join PhieuKham pk on pk.IDPhieuKham= A.IDPhieuKham
inner join BenhNhan BN on IDBenhNhan=BN.ID
inner join BanKham bk on bk.IDBan=B.BanKham and bk.Phong=B.PhongKham
inner join LichKhamBacSi lk on lk.IDBan=B.BanKham and lk.Phong=B.PhongKham
inner join BacSi bs on bs.ID=lk.IDBacSi
inner join PhongKhamChuyenKhoa pkck on pkck.ID= bk.Phong
where pkck.ChuyenKhoa=@IDchuyenKhoa;
select  distinct pkck.ChuyenKhoa,lk.Phong as PhongKham ,bk.SoBan,bs.ID as IDBacSi,  bs.HovaTen as BacSi,0 as SoHienTai, N'Chưa có bệnh nhân' AS BenhNhan
	from LichKhamBacSi lk 
	inner join SoThuTuPhongKham as STT on STT.BanKham=lk.IDBan and STT.PhongKham=lk.Phong
	inner join BanKham bk on bk.IDBan=lk.IDBan and bk.Phong=STT.PhongKham
	inner join BacSi bs on bs.ID=lk.IDBacSi
	inner join PhongKhamChuyenKhoa pkck on pkck.ID= bk.Phong
	where pkck.ChuyenKhoa=@IDchuyenKhoa and bs.ID not in (select lich.IDBacSi from SoHienThiPhongKham as HT join BanKham as ban 
																		on HT.BanKham=ban.IDBan and HT.PhongKham=ban.Phong
																		join PhongKhamChuyenKhoa as phong on phong.ID=ban.Phong
																		join LichKhamBacSi as lich on lich.IDBan=HT.BanKham and lich.Phong=HT.PhongKham
																		join BacSi as bs on bs.ID=lich.IDBacSi
																	 where phong.ChuyenKhoa =@IDchuyenKhoa)
	order by  pkck.ChuyenKhoa,lk.Phong ,bk.SoBan;
end;
else if(@temp =@temp2)
begin
select  pkck.ChuyenKhoa,B.PhongKham,bk.SoBan, bs.ID as IDBacSi, bs.HoVaTen as BacSi,  A.stt AS SoHienTai, (BN.Ho + ' ' +BN.TenLot + ' ' + BN.Ten) AS BenhNhan, B.GioMax
from ( select sht.PhongKham, sht.BanKham, max(sht.Gio) as GioMax
		from SoHienThiPhongKham sht
		group by sht.PhongKham, sht.BanKham ) as B
inner join SoHienThiPhongKham as A on A.BanKham=B.BanKham and A.PhongKham=b.PhongKham and A.Gio=B.GioMax
inner join PhieuKham pk on pk.IDPhieuKham= A.IDPhieuKham
inner join BenhNhan BN on IDBenhNhan=BN.ID
inner join BanKham bk on bk.IDBan=B.BanKham and bk.Phong=B.PhongKham
inner join LichKhamBacSi lk on lk.IDBan=B.BanKham and lk.Phong=B.PhongKham
inner join BacSi bs on bs.ID=lk.IDBacSi
inner join PhongKhamChuyenKhoa pkck on pkck.ID= bk.Phong
where pkck.ChuyenKhoa=@IDchuyenKhoa;
end
end
GO
/****** Object:  StoredProcedure [dbo].[TinhTrangHienTaiTheoPhongKhamThuocChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TinhTrangHienTaiTheoPhongKhamThuocChuyenKhoa]
@IDPhong nvarchar(10)
AS
BEGIN
select  B.PhongKham, bk.SoBan, B.BanKham,  A.stt AS STTHienTai, B.GioMax, bs.ID as IDBacSi, bs.HoVaTen as BacSi,BN.ID as IDBenhNhan, (BN.Ho + ' ' +BN.TenLot + ' ' + BN.Ten) AS BenhNhan
from ( select sht.PhongKham, sht.BanKham, max(sht.Gio) as GioMax
		from SoHienThiPhongKham sht
		group by sht.PhongKham, sht.BanKham ) as B
inner join SoHienThiPhongKham as A on A.BanKham=B.BanKham and A.PhongKham=b.PhongKham and A.Gio=B.GioMax
inner join PhieuKham pk on pk.IDPhieuKham= A.IDPhieuKham
inner join BenhNhan BN on IDBenhNhan=BN.ID
inner join BanKham bk on bk.IDBan=B.BanKham and bk.Phong=B.PhongKham
inner join LichKhamBacSi lk on lk.IDBan=B.BanKham and lk.Phong=B.PhongKham
inner join BacSi bs on bs.ID=lk.IDBacSi
inner join PhongKhamChuyenKhoa pkck on pkck.ID= bk.Phong
where pkck.ID=@IDPhong
END;
GO
/****** Object:  StoredProcedure [dbo].[XuatDanhSachChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XuatDanhSachChuyenKhoa]
AS
BEGIN
select distinct ck.IDChuyenKhoa,ck.TenChuyenKhoa
from ChuyenKhoa ck join BacSi as bs on bs.ChuyenKhoa=ck.IDChuyenKhoa join LichKhamBacSi as lk on lk.IDBacSi=bs.ID
END;
GO
/****** Object:  StoredProcedure [dbo].[XuatDanhSachPhongKhamTheoChuyenKhoa]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XuatDanhSachPhongKhamTheoChuyenKhoa]
@IDChuyenKhoa nvarchar(10)
AS
BEGIN
select pkck.ID, pkck.SoPhong
from ChuyenKhoa ck
inner join PhongKhamChuyenKhoa pkck on pkck.ChuyenKhoa=ck.IDChuyenKhoa
where ck.IDChuyenKhoa=@IDChuyenKhoa
END;
GO
/****** Object:  Trigger [dbo].[tr_AUTO_IDTraCuu]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[tr_AUTO_IDTraCuu] on [dbo].[LichSuTraCuu] for insert
as
	declare @IDNgTim nvarchar(10), @lastIDTraCuu nvarchar(10)
	set @IDNgTim=(select IDNguoiTim from inserted)
	set @lastIDTraCuu=DBO.AUTO_IDTraCuu()
	update LichSuTraCuu
	set IDTraCuu=@lastIDTraCuu
	where IDTraCuu=''
	select dbo.AUTO_IDTraCuu()
	
GO
ALTER TABLE [dbo].[LichSuTraCuu] ENABLE TRIGGER [tr_AUTO_IDTraCuu]
GO
/****** Object:  Trigger [dbo].[Xulylichsu]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Xulylichsu] on [dbo].[LichSuTraCuu] for insert
as
	declare @IDNgDuocTim nvarchar(10),@IDNgTim nvarchar(10),@counter int
	set @IDNgTim=(select IDNguoiTim from inserted)
	set @IDNgDuocTim=(select IDNguoiDUocTim from inserted)
	set @counter= (select count(*) from LichSuTraCuu
	where IDNguoiTim=@IDNgTim and IDNguoiDuocTim=@IDNgDuocTim)
	if (@counter>1)
	delete LichSuTraCuu where IDNguoiTim =@IDNgTim and IDNguoiDuocTim=@IDNgDuocTim and 
	ThoiGian<(select max(ThoiGian) from LichSuTraCuu where IDNguoiTim =@IDNgTim and IDNguoiDuocTim=@IDNgDuocTim );
GO
ALTER TABLE [dbo].[LichSuTraCuu] ENABLE TRIGGER [Xulylichsu]
GO
/****** Object:  Trigger [dbo].[UpdateTinhTrangSTTPhongCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[UpdateTinhTrangSTTPhongCLS] on [dbo].[SoHienThiPhongCanLamSang] for insert
as 
	declare @STT int,  @IDPhongCLS nvarchar(10),@IDPK nvarchar(10),@STTpre int;
	select @STT =STT,@IDPhongCLS=IDPhongCanLamSang,@IDPK=IDPhieuKham
	from inserted;
	set @STTpre=@STT -1;
	update SoThuTuPhongCLS
	set TinhTrang=N'Đang khám'
	where  PhongCanLamSang=@IDPhongCLS and STT=@STT;
	update SoThuTuPhongCLS
	set TinhTrang=N'Đã qua'
	where  PhongCanLamSang=@IDPhongCLS and STT=@STTpre;
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang] ENABLE TRIGGER [UpdateTinhTrangSTTPhongCLS]
GO
/****** Object:  Trigger [dbo].[UpdateTinhTrangSTTPhongKham]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[UpdateTinhTrangSTTPhongKham] on [dbo].[SoHienThiPhongKham] for insert
as 
	declare @STT int, @BanKham nvarchar(10), @PhongKham nvarchar(10),@IDPK nvarchar(10),@STTpre int;
	select @STT =STT,@BanKham=BanKham,@PhongKham=PhongKham,@IDPK=IDPhieuKham
	from inserted;
	set @STTpre=@STT -1;
	update SoThuTuPhongKham
	set TinhTrang=N'Đang khám'
	where  BanKham=@BanKham and PhongKham=@PhongKham and STT=@STT;
	update SoThuTuPhongKham
	set TinhTrang=N'Đã qua'
	where  BanKham=@BanKham and PhongKham=@PhongKham and STT=@STTpre;
GO
ALTER TABLE [dbo].[SoHienThiPhongKham] ENABLE TRIGGER [UpdateTinhTrangSTTPhongKham]
GO
/****** Object:  Trigger [dbo].[SetCaKhamCLS]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[SetCaKhamCLS] on [dbo].[SoThuTuPhongCLS] for insert 
as 
	declare @GioKham time,@IDPK nvarchar(10),@STT nvarchar(10),
	@hour1 int,@hour3 int;
	select @GioKham = convert(time,Gio), @IDPK = IDPhieuKham,@STT = STT  from inserted;
	set @hour1 =DATEDIFF(HOUR,'7:00:0',@GioKham);
	--set @hour2 select DATEDIFF(HOUR,'12:00:0','07:10:44.000'); select convert(time,'2019-03-27 07:10:44.000')
	set @hour3 =DATEDIFF(HOUR,'13:00:0',@GioKham);
	--set @hour4 =DATEDIFF(HOUR,'18:00:0',@GioKham);
	if(@hour1 >=0 and @hour1 <=5)
	begin
	update SoThuTuPhongCLS
	set CaKham=1
	where IDPhieuKham = @IDPK and STT=@STT
	end;
	else if(@hour3 >=0 and @hour3 <=5)
	begin
	update SoThuTuPhongCLS
	set CaKham=2
	where IDPhieuKham = @IDPK and STT=@STT
	end;
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] ENABLE TRIGGER [SetCaKhamCLS]
GO
/****** Object:  Trigger [dbo].[SetCaKhamPK]    Script Date: 5/20/2019 10:50:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[SetCaKhamPK] on [dbo].[SoThuTuPhongKham] for insert 
as 
	declare @GioKham time,@IDPK nvarchar(10),@STT nvarchar(10),
	@hour1 int,@hour2 int,@hour3 int,@hour4 int,@min2 int,@min4 int;
	select @GioKham = convert(time,Gio), @IDPK = IDPhieuKham,@STT = STT  from inserted;
	set @hour1 =DATEDIFF(HOUR,'7:00:0',@GioKham);
	--set @hour2 =DATEDIFF(HOUR,'12:00:0',@GioKham);
	set @hour3 =DATEDIFF(HOUR,'13:00:0',@GioKham);
	--set @hour4 =DATEDIFF(HOUR,'18:00:0',@GioKham);
	if(@hour1 >=0 and @hour1 <=5)
	begin
	update SoThuTuPhongKham
	set CaKham=1
	where IDPhieuKham = @IDPK and STT=@STT
	end;
	else if(@hour3 >=0 and @hour3 <=5)
	begin
	update SoThuTuPhongKham
	set CaKham=2
	where IDPhieuKham = @IDPK and STT=@STT
	end;
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] ENABLE TRIGGER [SetCaKhamPK]
GO
USE [master]
GO
