USE [master]
GO
/****** Object:  Database [TEST]    Script Date: 4/22/2019 8:38:09 PM ******/
CREATE DATABASE [TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TEST.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TEST_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTraCuu]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AUTO_IDTraCuu]()
returns nvarchar(10)
AS begin
	DECLARE @ID NVARCHAR(10)
	IF (SELECT COUNT(IDTraCuu) FROM LichSuTraCuu) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID =  max(right(IDTraCuu, 7)) FROM LichSuTraCuu
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'LS0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'LS000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
		return @ID
END;
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[ID] [nvarchar](10) NOT NULL,
	[HovaTen] [nvarchar](40) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NamSinh] [nvarchar](4) NULL,
	[QueQuan] [nvarchar](20) NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
	[ThoiGianKhamTB_min] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanKham]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanKham](
	[IDBan] [nvarchar](10) NOT NULL,
	[Phong] [nvarchar](10) NOT NULL,
	[SoBan] [int] NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBan] ASC,
	[Phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[ID] [nvarchar](10) NOT NULL,
	[Ho] [nvarchar](6) NULL,
	[TenLot] [nvarchar](20) NULL,
	[Ten] [nvarchar](5) NULL,
	[CMND_CCCD] [nvarchar](20) NOT NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](20) NULL,
	[NgheNghiep] [nvarchar](20) NULL,
	[SDT] [nvarchar](15) NULL,
	[Diachi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaKham]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaKham](
	[IDCa] [int] NOT NULL,
	[TenCa] [nvarchar](5) NULL,
	[GioBatDau] [nvarchar](10) NULL,
	[GioKetThuc] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenKhoa]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenKhoa](
	[IDChuyenKhoa] [nvarchar](10) NOT NULL,
	[TenChuyenKhoa] [nvarchar](50) NULL,
	[IDDonViChucNang] [int] NULL,
	[IDKhuVuc] [int] NULL,
	[NgungSuDung] [int] NULL,
	[IDLoaiDonVi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDChuyenKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuCanLamSang]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuCanLamSang](
	[IDDichVu] [nvarchar](10) NOT NULL,
	[TenDichVu] [nvarchar](150) NULL,
	[LoaiDichVu] [nvarchar](10) NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViChucNang]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViChucNang](
	[IDDonViChucNang] [int] NOT NULL,
	[TenDonViChucNang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDonViChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[IDKhuVuc] [int] NOT NULL,
	[TenKhuVuc] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichKhamBacSi]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichKhamBacSi](
	[IDBan] [nvarchar](10) NOT NULL,
	[Phong] [nvarchar](10) NOT NULL,
	[Ngay] [date] NOT NULL,
	[CaKham] [int] NOT NULL,
	[IDBacSi] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBan] ASC,
	[Phong] ASC,
	[Ngay] ASC,
	[CaKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTraCuu]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTraCuu](
	[IDTraCuu] [nvarchar](10) NOT NULL,
	[IDNguoiTim] [nvarchar](10) NOT NULL,
	[IDNguoiDuocTim] [nvarchar](10) NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTraCuu] ASC,
	[IDNguoiTim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[IDLoaiDichVu] [nvarchar](10) NOT NULL,
	[TenLoaiDichVu] [nvarchar](50) NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham](
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[IDBenhNhan] [nvarchar](10) NULL,
	[Ngay] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongCanLamSang]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongCanLamSang](
	[ID] [nvarchar](10) NOT NULL,
	[SoPhong] [nvarchar](50) NULL,
	[TrucThuoc] [nvarchar](10) NULL,
	[KhuVuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongKhamChuyenKhoa]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongKhamChuyenKhoa](
	[ID] [nvarchar](10) NOT NULL,
	[SoPhong] [nvarchar](20) NULL,
	[ChuyenKhoa] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinhPhongCLS]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinhPhongCLS](
	[IDPhongCLS] [nvarchar](10) NOT NULL,
	[NgayCT] [date] NOT NULL,
	[SoSTTmax] [int] NULL,
	[ThoiGianNhaySoTB_min] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongCLS] ASC,
	[NgayCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoHienThiPhongCanLamSang]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoHienThiPhongCanLamSang](
	[IDPhongCanLamSang] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[Gio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongCanLamSang] ASC,
	[IDPhieuKham] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoHienThiPhongKham]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoHienThiPhongKham](
	[STT] [int] NOT NULL,
	[BanKham] [nvarchar](10) NOT NULL,
	[PhongKham] [nvarchar](10) NULL,
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[Gio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BanKham] ASC,
	[IDPhieuKham] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoThuTuPhongCLS]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoThuTuPhongCLS](
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[PhongCanLamSang] [nvarchar](10) NULL,
	[CaKham] [int] NULL,
	[Gio] [datetime] NULL,
	[TinhTrang] [nvarchar](5) NULL,
	[CanLamSang] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoThuTuPhongKham]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoThuTuPhongKham](
	[IDPhieuKham] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[BanKham] [nvarchar](10) NULL,
	[PhongKham] [nvarchar](10) NULL,
	[CaKham] [int] NULL,
	[Gio] [datetime] NULL,
	[TinhTrang] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp](
	[Status] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucHienCLS]    Script Date: 4/22/2019 8:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucHienCLS](
	[IDPhongCLS] [nvarchar](10) NOT NULL,
	[DichVuCLSThucHien] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhongCLS] ASC,
	[DichVuCLSThucHien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BacSi] ([ID], [HovaTen], [GioiTinh], [NamSinh], [QueQuan], [ChuyenKhoa], [ThoiGianKhamTB_min]) VALUES (N'BS004', N'Hà Ngọc Tuyết Trinh', N'Nam', N'1965', N'Hưng Yên', N'EEG', NULL)
INSERT [dbo].[BacSi] ([ID], [HovaTen], [GioiTinh], [NamSinh], [QueQuan], [ChuyenKhoa], [ThoiGianKhamTB_min]) VALUES (N'BS011', N'Nguyễn Tuấn Đạt', N'Nam', N'1977', N'Vĩnh Long', N'DB', NULL)
INSERT [dbo].[BacSi] ([ID], [HovaTen], [GioiTinh], [NamSinh], [QueQuan], [ChuyenKhoa], [ThoiGianKhamTB_min]) VALUES (N'BS014', N'Phan Nguyễn Thành Tài', N'Nam', N'1978', N'Lâm Đồng', N'PY', NULL)
GO
INSERT [dbo].[BanKham] ([IDBan], [Phong], [SoBan], [TinhTrang]) VALUES (N'BK1', N'1', 1, 1)
INSERT [dbo].[BanKham] ([IDBan], [Phong], [SoBan], [TinhTrang]) VALUES (N'BK1', N'117', 1, 1)
INSERT [dbo].[BanKham] ([IDBan], [Phong], [SoBan], [TinhTrang]) VALUES (N'BK1', N'141', 1, 1)
INSERT [dbo].[BenhNhan] ([ID], [Ho], [TenLot], [Ten], [CMND_CCCD], [GioiTinh], [NgaySinh], [QueQuan], [NgheNghiep], [SDT], [Diachi]) VALUES (N'BN21114', N'Nguyễn', N'Tuấn', N'Mai', N'4862121655', N'Nam', CAST(N'1967-07-03' AS Date), N'Phú Yên	', N'Nội trợ', N'0975157057', N'Lai Châu')
INSERT [dbo].[BenhNhan] ([ID], [Ho], [TenLot], [Ten], [CMND_CCCD], [GioiTinh], [NgaySinh], [QueQuan], [NgheNghiep], [SDT], [Diachi]) VALUES (N'BN21122', N'Bùi', N'Minh', N'Linh', N'4893514419', N'Nữ', CAST(N'1972-08-26' AS Date), N'Đắk Lắk', N'Công nhân', N'0934452072', N'Đắk Lắk')
INSERT [dbo].[BenhNhan] ([ID], [Ho], [TenLot], [Ten], [CMND_CCCD], [GioiTinh], [NgaySinh], [QueQuan], [NgheNghiep], [SDT], [Diachi]) VALUES (N'BN21123', N'Ngô', N'Minh', N'Trinh', N'7349456327', N'Nữ', CAST(N'1990-01-14' AS Date), N'Quảng Trị', N'Nội trợ', N'0995649378', N'Long An')
INSERT [dbo].[CaKham] ([IDCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (1, N'Sáng', N'7:00 AM', N'12:00 AM')
INSERT [dbo].[CaKham] ([IDCa], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (2, N'Chiều', N'1:00 PM', N'6:00 PM')
INSERT [dbo].[ChuyenKhoa] ([IDChuyenKhoa], [TenChuyenKhoa], [IDDonViChucNang], [IDKhuVuc], [NgungSuDung], [IDLoaiDonVi]) VALUES (N'0D03', N'Khoa chẩn đoán hình ảnh', 5, 1, 0, 1)
INSERT [dbo].[ChuyenKhoa] ([IDChuyenKhoa], [TenChuyenKhoa], [IDDonViChucNang], [IDKhuVuc], [NgungSuDung], [IDLoaiDonVi]) VALUES (N'0UGM', N'UNG BƯỚU GAN MẬT VÀ GHÉP GAN', 1, 1, 0, 2)
INSERT [dbo].[ChuyenKhoa] ([IDChuyenKhoa], [TenChuyenKhoa], [IDDonViChucNang], [IDKhuVuc], [NgungSuDung], [IDLoaiDonVi]) VALUES (N'A0', N'KHOA KHÁM SỨC KHỎE THEO YÊU CẦU', 5, 1, 0, 0)
GO
INSERT [dbo].[DichVuCanLamSang] ([IDDichVu], [TenDichVu], [LoaiDichVu], [TinhTrang]) VALUES (N'E038', N'Nội soi can thiệp - cắt polyp ống tiêu hóa < 1cm', N'MB', 0)
INSERT [dbo].[DichVuCanLamSang] ([IDDichVu], [TenDichVu], [LoaiDichVu], [TinhTrang]) VALUES (N'GGI0', N'Phế máu ngoại biên (BV TMHH)', N'GA', 0)
INSERT [dbo].[DichVuCanLamSang] ([IDDichVu], [TenDichVu], [LoaiDichVu], [TinhTrang]) VALUES (N'GGI1', N'Xét nghiệm tế bào học tủy xương (tủy đồ) (BV TMHH)', N'GA', 0)
GO
INSERT [dbo].[DonViChucNang] ([IDDonViChucNang], [TenDonViChucNang]) VALUES (1, N'Khám bệnh ngoại trú')
INSERT [dbo].[DonViChucNang] ([IDDonViChucNang], [TenDonViChucNang]) VALUES (5, N'Đơn Vị Dịch Vụ')
INSERT [dbo].[KhuVuc] ([IDKhuVuc], [TenKhuVuc]) VALUES (1, N'Khu B')
INSERT [dbo].[KhuVuc] ([IDKhuVuc], [TenKhuVuc]) VALUES (2, N'Khu C')
INSERT [dbo].[KhuVuc] ([IDKhuVuc], [TenKhuVuc]) VALUES (3, N'Khu A')
INSERT [dbo].[LichSuTraCuu] ([IDTraCuu], [IDNguoiTim], [IDNguoiDuocTim], [ThoiGian]) VALUES (N'LS00001   ', N'BN21676', N'BN21677', CAST(N'2019-04-20T03:13:44.763' AS DateTime))
INSERT [dbo].[LoaiDichVu] ([IDLoaiDichVu], [TenLoaiDichVu], [ChuyenKhoa]) VALUES (N'GA', N'XN GỬI ĐI', N'DH')
INSERT [dbo].[LoaiDichVu] ([IDLoaiDichVu], [TenLoaiDichVu], [ChuyenKhoa]) VALUES (N'KX', N'ĐO LOÃNG XƯƠNG', N'DA')
INSERT [dbo].[LoaiDichVu] ([IDLoaiDichVu], [TenLoaiDichVu], [ChuyenKhoa]) VALUES (N'MA', N'X-QUANG', N'DA')
INSERT [dbo].[PhieuKham] ([IDPhieuKham], [IDBenhNhan], [Ngay]) VALUES (N'PK66665', N'BN21676', CAST(N'2019-03-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PhieuKham] ([IDPhieuKham], [IDBenhNhan], [Ngay]) VALUES (N'PK66666', N'BN21677', CAST(N'2019-03-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PhieuKham] ([IDPhieuKham], [IDBenhNhan], [Ngay]) VALUES (N'PK66667', N'BN21678', CAST(N'2019-03-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PhongCanLamSang] ([ID], [SoPhong], [TrucThuoc], [KhuVuc]) VALUES (N'1', N'Phòng Ði?n Châm 210', NULL, 1)
INSERT [dbo].[PhongCanLamSang] ([ID], [SoPhong], [TrucThuoc], [KhuVuc]) VALUES (N'2', N'Phòng Ði?n Châm 211', NULL, 1)
INSERT [dbo].[PhongCanLamSang] ([ID], [SoPhong], [TrucThuoc], [KhuVuc]) VALUES (N'CT1', N'Phòng CT-Scan', NULL, 1)
INSERT [dbo].[PhongKhamChuyenKhoa] ([ID], [SoPhong], [ChuyenKhoa]) VALUES (N'1', N'Phòng 32', N'PH')
INSERT [dbo].[PhongKhamChuyenKhoa] ([ID], [SoPhong], [ChuyenKhoa]) VALUES (N'100', N'Phòng 21', N'PK')
INSERT [dbo].[PhongKhamChuyenKhoa] ([ID], [SoPhong], [ChuyenKhoa]) VALUES (N'101', N'Phòng 21', N'PN')
GO
INSERT [dbo].[SoHienThiPhongCanLamSang] ([IDPhongCanLamSang], [STT], [IDPhieuKham], [Gio]) VALUES (N'TMH1', 1, N'PK66665', CAST(N'2019-03-27T10:27:08.910' AS DateTime))
INSERT [dbo].[SoHienThiPhongKham] ([STT], [BanKham], [PhongKham], [IDPhieuKham], [Gio]) VALUES (1, N'BK1', N'1', N'PK66665', CAST(N'2019-03-27T10:00:08.910' AS DateTime))
INSERT [dbo].[SoThuTuPhongCLS] ([IDPhieuKham], [STT], [PhongCanLamSang], [CaKham], [Gio], [TinhTrang], [CanLamSang]) VALUES (N'PK66665', 1, N'TMH1', 1, CAST(N'2019-03-27T10:25:08.910' AS DateTime), N'Chua', N'TZ01')
INSERT [dbo].[SoThuTuPhongKham] ([IDPhieuKham], [STT], [BanKham], [PhongKham], [CaKham], [Gio], [TinhTrang]) VALUES (N'PK66665', 1, N'BK1', N'1', 1, CAST(N'2019-03-27T09:51:08.910' AS DateTime), N'Chua')
INSERT [dbo].[Temp] ([Status]) VALUES (1)
INSERT [dbo].[ThucHienCLS] ([IDPhongCLS], [DichVuCLSThucHien]) VALUES (N'1', N'TJ04')
INSERT [dbo].[ThucHienCLS] ([IDPhongCLS], [DichVuCLSThucHien]) VALUES (N'2', N'TJ04')
INSERT [dbo].[ThucHienCLS] ([IDPhongCLS], [DichVuCLSThucHien]) VALUES (N'CT1', N'ND64')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BenhNhan__B9137313204755C6]    Script Date: 4/22/2019 8:38:10 PM ******/
ALTER TABLE [dbo].[BenhNhan] ADD UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD  CONSTRAINT [FK_BacSi_ChuyenKhoa] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[BacSi] CHECK CONSTRAINT [FK_BacSi_ChuyenKhoa]
GO
ALTER TABLE [dbo].[BanKham]  WITH CHECK ADD  CONSTRAINT [FK_Ban_PK] FOREIGN KEY([Phong])
REFERENCES [dbo].[PhongKhamChuyenKhoa] ([ID])
GO
ALTER TABLE [dbo].[BanKham] CHECK CONSTRAINT [FK_Ban_PK]
GO
ALTER TABLE [dbo].[ChuyenKhoa]  WITH CHECK ADD  CONSTRAINT [FK_CK_DVCN] FOREIGN KEY([IDDonViChucNang])
REFERENCES [dbo].[DonViChucNang] ([IDDonViChucNang])
GO
ALTER TABLE [dbo].[ChuyenKhoa] CHECK CONSTRAINT [FK_CK_DVCN]
GO
ALTER TABLE [dbo].[ChuyenKhoa]  WITH CHECK ADD  CONSTRAINT [FK_CK_KhuVuc] FOREIGN KEY([IDKhuVuc])
REFERENCES [dbo].[KhuVuc] ([IDKhuVuc])
GO
ALTER TABLE [dbo].[ChuyenKhoa] CHECK CONSTRAINT [FK_CK_KhuVuc]
GO
ALTER TABLE [dbo].[DichVuCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_DV_LDV] FOREIGN KEY([LoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([IDLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVuCanLamSang] CHECK CONSTRAINT [FK_DV_LDV]
GO
ALTER TABLE [dbo].[LichKhamBacSi]  WITH CHECK ADD  CONSTRAINT [FK_LK_BacSi] FOREIGN KEY([IDBacSi])
REFERENCES [dbo].[BacSi] ([ID])
GO
ALTER TABLE [dbo].[LichKhamBacSi] CHECK CONSTRAINT [FK_LK_BacSi]
GO
ALTER TABLE [dbo].[LichKhamBacSi]  WITH CHECK ADD  CONSTRAINT [FK_LK_Ban] FOREIGN KEY([IDBan], [Phong])
REFERENCES [dbo].[BanKham] ([IDBan], [Phong])
GO
ALTER TABLE [dbo].[LichKhamBacSi] CHECK CONSTRAINT [FK_LK_Ban]
GO
ALTER TABLE [dbo].[LichKhamBacSi]  WITH CHECK ADD  CONSTRAINT [FK_LK_Ca] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[LichKhamBacSi] CHECK CONSTRAINT [FK_LK_Ca]
GO
ALTER TABLE [dbo].[LichSuTraCuu]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_NgDuocTim] FOREIGN KEY([IDNguoiDuocTim])
REFERENCES [dbo].[BenhNhan] ([ID])
GO
ALTER TABLE [dbo].[LichSuTraCuu] CHECK CONSTRAINT [FK_LichSu_NgDuocTim]
GO
ALTER TABLE [dbo].[LichSuTraCuu]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_NgTim] FOREIGN KEY([IDNguoiTim])
REFERENCES [dbo].[BenhNhan] ([ID])
GO
ALTER TABLE [dbo].[LichSuTraCuu] CHECK CONSTRAINT [FK_LichSu_NgTim]
GO
ALTER TABLE [dbo].[LoaiDichVu]  WITH CHECK ADD  CONSTRAINT [FK_LDV_CK] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[LoaiDichVu] CHECK CONSTRAINT [FK_LDV_CK]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PK_BN] FOREIGN KEY([IDBenhNhan])
REFERENCES [dbo].[BenhNhan] ([ID])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PK_BN]
GO
ALTER TABLE [dbo].[PhongCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_PCLS_KV] FOREIGN KEY([KhuVuc])
REFERENCES [dbo].[KhuVuc] ([IDKhuVuc])
GO
ALTER TABLE [dbo].[PhongCanLamSang] CHECK CONSTRAINT [FK_PCLS_KV]
GO
ALTER TABLE [dbo].[PhongKhamChuyenKhoa]  WITH CHECK ADD  CONSTRAINT [FK_PK_ChuyenKhoa] FOREIGN KEY([ChuyenKhoa])
REFERENCES [dbo].[ChuyenKhoa] ([IDChuyenKhoa])
GO
ALTER TABLE [dbo].[PhongKhamChuyenKhoa] CHECK CONSTRAINT [FK_PK_ChuyenKhoa]
GO
ALTER TABLE [dbo].[QuyDinhPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_PCLS_QuyDinh] FOREIGN KEY([IDPhongCLS])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[QuyDinhPhongCLS] CHECK CONSTRAINT [FK_PCLS_QuyDinh]
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_PhongCanLamSang] FOREIGN KEY([IDPhongCanLamSang])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang] CHECK CONSTRAINT [FK_HienThi_PhongCanLamSang]
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_STTPhongCanLamSang] FOREIGN KEY([IDPhieuKham], [STT])
REFERENCES [dbo].[SoThuTuPhongCLS] ([IDPhieuKham], [STT])
GO
ALTER TABLE [dbo].[SoHienThiPhongCanLamSang] CHECK CONSTRAINT [FK_HienThi_STTPhongCanLamSang]
GO
ALTER TABLE [dbo].[SoHienThiPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_BanKham] FOREIGN KEY([BanKham], [PhongKham])
REFERENCES [dbo].[BanKham] ([IDBan], [Phong])
GO
ALTER TABLE [dbo].[SoHienThiPhongKham] CHECK CONSTRAINT [FK_HienThi_BanKham]
GO
ALTER TABLE [dbo].[SoHienThiPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_HienThi_STTPhongKham] FOREIGN KEY([IDPhieuKham], [STT])
REFERENCES [dbo].[SoThuTuPhongKham] ([IDPhieuKham], [STT])
GO
ALTER TABLE [dbo].[SoHienThiPhongKham] CHECK CONSTRAINT [FK_HienThi_STTPhongKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_STT_PhongCanLamSang] FOREIGN KEY([PhongCanLamSang])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [FK_STT_PhongCanLamSang]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [Fk_STT_PKCLS] FOREIGN KEY([IDPhieuKham])
REFERENCES [dbo].[PhieuKham] ([IDPhieuKham])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [Fk_STT_PKCLS]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_STTCLS_CKham] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [FK_STTCLS_CKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS]  WITH CHECK ADD  CONSTRAINT [FK_STTCLS_DV] FOREIGN KEY([CanLamSang])
REFERENCES [dbo].[DichVuCanLamSang] ([IDDichVu])
GO
ALTER TABLE [dbo].[SoThuTuPhongCLS] CHECK CONSTRAINT [FK_STTCLS_DV]
GO
ALTER TABLE [dbo].[SoThuTuPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_STT_BanKham] FOREIGN KEY([BanKham], [PhongKham])
REFERENCES [dbo].[BanKham] ([IDBan], [Phong])
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] CHECK CONSTRAINT [FK_STT_BanKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongKham]  WITH CHECK ADD  CONSTRAINT [Fk_STT_PKPhongKham] FOREIGN KEY([IDPhieuKham])
REFERENCES [dbo].[PhieuKham] ([IDPhieuKham])
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] CHECK CONSTRAINT [Fk_STT_PKPhongKham]
GO
ALTER TABLE [dbo].[SoThuTuPhongKham]  WITH CHECK ADD  CONSTRAINT [FK_STTPK_CKham] FOREIGN KEY([CaKham])
REFERENCES [dbo].[CaKham] ([IDCa])
GO
ALTER TABLE [dbo].[SoThuTuPhongKham] CHECK CONSTRAINT [FK_STTPK_CKham]
GO
ALTER TABLE [dbo].[ThucHienCLS]  WITH CHECK ADD  CONSTRAINT [FK_THCLS_DV] FOREIGN KEY([DichVuCLSThucHien])
REFERENCES [dbo].[DichVuCanLamSang] ([IDDichVu])
GO
ALTER TABLE [dbo].[ThucHienCLS] CHECK CONSTRAINT [FK_THCLS_DV]
GO
ALTER TABLE [dbo].[ThucHienCLS]  WITH CHECK ADD  CONSTRAINT [FK_THCLS_PCLS] FOREIGN KEY([IDPhongCLS])
REFERENCES [dbo].[PhongCanLamSang] ([ID])
GO
ALTER TABLE [dbo].[ThucHienCLS] CHECK CONSTRAINT [FK_THCLS_PCLS]
GO
/****** Object:  StoredProcedure [dbo].[CheckBenhNhan]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[CheckBenhNhan] @CMND_CCCD nvarchar(20)
 as begin
	select * from BenhNhan where BenhNhan.CMND_CCCD = @CMND_CCCD
end;
GO
/****** Object:  StoredProcedure [dbo].[HienThiLichSuTimKiem]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HienThiLichSuTimKiem] @IDNgTim nvarchar(10)
as begin
	select IDNguoiTim as TraCuuBoi,IDNguoiDuocTim,BN.Ho,BN.TenLot,BN.Ten,BN.NgaySinh from LichSuTraCuu as LS join BenhNhan as BN on BN.ID=LS.IDNguoiDuocTim
	where IDNguoiTim=@IDNgTim
end;
GO
/****** Object:  StoredProcedure [dbo].[LaySTT]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LaySTT] @IDBenhNhan nvarchar(10)
as begin
	select distinct IDBenhNhan,STTPK.STT as STTPhongKham,PKCK.SoPhong,A.SoBan,CK.TenChuyenKhoa,convert(time,STTPK.Gio) as ThoiGianDuKien,STTPK.TinhTrang,A.SoHienTaiCuaPhong
	from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan join SoThuTuPhongKham as STTPK on STTPK.IDPhieuKham= PK.IDPhieuKham
	join  BanKham as BK on BK.IDBan = STTPK.BanKham join PhongKhamChuyenKhoa as PKCK on PKCK.ID = BK.Phong join
	 (select BK.IDBan as IDBan,BK.SoBan, PK.ID as IDPhongKham,PK.SoPhong, max(SHT.Gio) as Gio ,STT as SoHienTaiCuaPhong from SoHienThiPhongKham as SHT 
	join BanKham as BK on BK.IDBan=SHT.BanKham join PhongKhamChuyenKhoa as PK on PK.ID=Bk.Phong 
	where BK.Phong=SHT.PhongKham
	group by Bk.IDBan,BK.SoBan,PK.ID,PK.SoPhong,STT) as A on A.IDPhongKham=PKCK.ID join ChuyenKhoa as CK on Ck.IDChuyenKhoa=PKCK.ChuyenKhoa
	where IDBenhNhan=@IDBenhNhan;

	select distinct IDBenhNhan,STTCLS.STT as STTPhongCLS, PCLS.SoPhong,DV.TenDichVu as TenCanLamSang,convert(time, STTCLS.Gio) as ThoiGianDuKien,STTCLS.TinhTrang,A.SoHienTaiCuaPhong
	from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan join SoThuTuPhongCLS as STTCLS on STTCLS.IDPhieuKham=PK.IDPhieuKham 
		join PhongCanLamSang as PCLS on PCLS.ID=STTCLS.PhongCanLamSang
		join (select PCLS.ID as IDPhongCLS,PCLS.SoPhong, max(SHT.Gio) as Gio,STT as SoHienTaiCuaPhong 
			 from SoHienThiPhongCanLamSang as SHT join PhongCanLamSang as PCLS on PCLS.ID=SHT.IDPhongCanLamSang
	group by PCLS.ID,PCLS.SoPhong,STT ) as A on A.IDPhongCLS=PCLS.ID join ThucHienCLS as TH on TH.IDPhongCLS=PCLS.ID 
	join  DichVuCanLamSang as DV on DV.IDDichVu =TH.DichVuCLSThucHien 
	where IDBenhNhan=@IDBenhNhan and STTCLS.CanLamSang=TH.DichVuCLSThucHien  ;
	end;
GO
/****** Object:  StoredProcedure [dbo].[LaySTTPhongKham]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LaySTTPhongKham] @IDBenhNhan nvarchar(10)
as begin
	select distinct IDBenhNhan,Ho,TenLot,Ten, PK.IDPhieuKham,STTPK.STT as STTPhongKham,PKCK.ID as IDPhong,PKCK.SoPhong,convert(time,STTPK.Gio) as ThoiGianDuKien,STTPK.TinhTrang
	from BenhNhan as BN join PhieuKham as PK on BN.ID=PK.IDBenhNhan join SoThuTuPhongKham as STTPK on STTPK.IDPhieuKham= PK.IDPhieuKham
	join PhongKhamChuyenKhoa as PKCK on PKCK.ID = STTPK.PhongKham 
	where IDBenhNhan=@IDBenhNhan
	end;
GO
/****** Object:  StoredProcedure [dbo].[LayThongTinBenhNhan]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LayThongTinBenhNhan] @maBN varchar(10)
as begin
	select *
	from BenhNhan
	where ID = @maBN
end;
GO
/****** Object:  StoredProcedure [dbo].[TaoHoSoBenhNhan]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[TaoHoSoBenhNhan] @Ho nvarchar(6),
	@TenLot nvarchar(20),
	@Ten nvarchar(5),
	@CMND_CCCD nvarchar(20) ,
	@GioiTinh nvarchar(3),
	@NgaySinh date,
	@QueQuan nvarchar(20),
	@NgheNghiep nvarchar(20),
	@SDT nvarchar(15),
	@Diachi nvarchar(50)
 as begin
 declare @lastSTT nvarchar(10),@STTnew_int int,@STTnew_char nvarchar(10),@newID nvarchar(10);
 set @lastSTT=( select max(right(ID,5)) from BenhNhan);
 set @STTnew_int = CONVERT(int,@lastSTT) + 1;
 set @STTnew_char = CONVERT(nvarchar,@STTnew_int);
 set @newID='BN' + @STTnew_char;
 insert into BenhNhan values(@newID,@Ho,@TenLot,@Ten,@CMND_CCCD,@GioiTinh,@NgaySinh,@QueQuan,@NgheNghiep,@SDT,@Diachi);
 select * from BenhNhan where ID =@newID;
 end;
GO
/****** Object:  StoredProcedure [dbo].[TaoLichSuTimKiem]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TaoLichSuTimKiem] @IDNgTim nvarchar(10), @IDNgDuocTim nvarchar(10)
as begin
	
	declare @Thoigian datetime,@counter int
	set @counter=(select count(*) from BenhNhan where ID=@IDNgDuocTim);
	if(@counter >0)
	begin
	set @Thoigian=getdate();
	insert into LichSuTraCuu values ('',@IDNgTim,@IDNgDuocTim,@Thoigian);
	update Temp
	set Status = 1;
	select * from temp;
	end;
	else if(@counter=0)
	begin
	update Temp
	set Status = 0;
	select * from temp;
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[TaoPhieuKham]    Script Date: 4/22/2019 8:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[TaoPhieuKham] @IDBenhNhan nvarchar(10)
 as begin
 declare @LastPK nvarchar(10),@STT_char nvarchar(10),@STTnew_int int,@STTnew_char nvarchar(10),@NewPK nvarchar(10);
 set @LastPK=(select IDPhieuKham from PhieuKham where Ngay >= all ( select Ngay from PhieuKham));
 set @STT_char=(select right(@LastPK,5));
 set @STTnew_int = CONVERT(int,@STT_char) + 1;
 set @STTnew_char = CONVERT(nvarchar,@STTnew_int);
 set @NewPK='PK' + @STTnew_char;
 insert into PhieuKham values(@NewPK,@IDBenhNhan,getdate());
 select * from PhieuKham where Ngay >= all ( select Ngay from PhieuKham);
end;
GO
USE [master]
GO
